@import "/old/common/css/base";
body{
  font-size: 0;
  background-color: #2e6014;
}
.header-wrapper {
  width: 100%;
  img{
    width: 100%;
  }
}
.header-title {
  width: 90%;
  margin: rem(10px) auto;
  img {
    width:100%;
  }
}
.advice-lists {
  width:90%;
  background-color: #fff;
  margin:rem(10px) auto;
  border-radius: rem(4px);
  padding: .1rem rem(10px);
  .advice-wrapper{
    margin: rem(20px) 0;
    .userName {
      color: #2e6014;
      font-size: rem(17px);
      margin-bottom: rem(10px);
      i{
        display: inline-block;
        width: rem(15px);
        height:rem(16px);
        background: url(https://images.simpletour.com/activity/complain/avatar_icon.png) no-repeat center;
        background-size: contain;
        vertical-align: text-top;
        margin-right: rem(10px);
      }
    }
    .advice {
      background-color: #f7f7f7;
      padding: rem(5px);
      .images {
        @include displayflex;
        @include flexflowRow();
        .img-wp{
          @include flex(1);
          width: rem(80px);
          height: rem(80px);
          margin-right: .45rem;
          &:last-child {
            margin-right: 0;
          }
          img{
            width: 100%;
          }
        }
      }
      p {
        color: #231f20;
        font-size: rem(13px);
        line-height: 1rem;
      }
      .bottom-btn {
        width: 100%;
        height: rem(30px);
        line-height: rem(30px);
        div{
          float: right;
          font-size: rem(15px);
          margin-left: rem(10px);
        }
        .zan{
          &:before{
            content: '';
            display: inline-block;
            width:rem(20px);
            height:rem(20px);
            background: url("https://images.simpletour.com/activity/complain/zan_icon.png") no-repeat center;
            background-size: contain;
            margin-right: rem(5px);
            vertical-align: text-bottom;
          }
        }
        .cai {
          &:before {
            content: '';
            display: inline-block;
            width:rem(20px);
            height:rem(20px);
            background: url("https://images.simpletour.com/activity/complain/cai_icon.png") no-repeat center;
            background-size: contain;
            margin-right: rem(5px);
            vertical-align: text-bottom;
          }
        }
      }
    }

  }
}