@import "/old/common/css/base";
body{
  font-size: 0;
}
.header-wrapper {
  background-color: #ec2a53;
  width: 100%;
  padding-bottom: rem(20px);
  img{
    width: 100%;
  }
  .aTag {
    width: 60%;
    margin: rem(10px) auto;
    &.toRank {
      width: 50%;
      margin-top: rem(20px);
      margin-bottom: 0;
    }
  }
}
.show-prices {
  background-color: #ffe7b4;
  width:100%;
  padding-bottom: rem(20px);
  .title {
    width: 90%;
    margin: 0 auto;
    padding-top: rem(20px);
    img{
      width:100%;
    }
  }
  .price-wrapper {
    width: 90%;
    margin: rem(10px) auto;
    img{
      width:100%;
    }
  }
  .aTag {
    width: 60%;
    margin: rem(10px) auto 0;
    img{
      width:100%;
    }
  }
}

.join-way {
  background-color: #ec2a53;
  width: 100%;
  padding-bottom: rem(20px);
  .title {
    width: 90%;
    margin: 0 auto;
    padding-top: rem(20px);
    img {
      width: 100%;
    }
  }
  .describe {
    width: 90%;
    margin: rem(5px) auto;
    background-color: #fff;
    border: rem(2px) solid #d10e37;
    border-radius: rem(4px);
    .total{
      width: 80%;
      margin: rem(10px) auto;
      section{
        position: relative;
        font-size: rem(12px);
        color: #000000;
        line-height:1rem;
        span {
          display: inline-block;
          position: absolute;
          top: rem(2px);
          left: rem(-20px);
          width:rem(14px);
          height: rem(14px);
          line-height: rem(14px);
          border-radius: rem(14px);
          color: #ffffff;
          background-color: #ea1542;
          text-align: center;
        }
        .wechatNum {
          width:100%;
          font-size: rem(12px);
          font-weight: 300;
          p{
            &:last-child{
              text-align: center;
            }
          }
        }
        .wechatImg {
          width:100%;
          text-align: center;
          img {
            width:80%;
          }
        }
      }

      .price-intro {
        border-top: rem(1px) dashed #ea1542;
        border-bottom: rem(1px) dashed #ea1542;
        position: relative;
        margin-top: rem(10px);
        margin-bottom: rem(10px);
        padding: 0 0 .8rem;
        .intro-title {
          position: absolute;
          top: rem(-8px);
          left: 50%;
          margin-left: rem(-35px);
          display: inline-block;
          width: rem(70px);
          background-color: #ea1542;
          padding: 0 rem(5px);
          color: #ffffff;
          font-size: rem(13px);
          border-radius: rem(4px);
          text-align: center;
        }
        h5 {
          position: relative;
          font-size: rem(14px);
          color: #ea1542;
          line-height:1rem;
          margin-top: 1rem;
          span {
            display: inline-block;
            position: absolute;
            top: rem(4px);
            left: rem(-20px);
            font-size: rem(10px);
            width:rem(12px);
            height: rem(12px);
            line-height: rem(12px);
            border-radius: rem(12px);
            color: #ea1542;
            border:rem(1px) solid #ea1542;
            text-align: center;
          }
        }
        p{
          font-size: rem(12px);
          color: #000000;
          line-height:1rem;
        }
      }
    }
  }
  .join-now {
    width: 60%;
    margin: rem(20px) auto 0;
    img{
      width:100%;
    }
  }
}
.bottom-logo {
  width: 40%;
  margin: rem(20px) auto;
  img {
    width:100%;
  }
}