$baseFontSize : 40px !default;
$red : #E61E4B !default;
$fontRed : #E61E4B !default;
$opacity: 1 !default;
@function rem($px) {
  @return $px / $baseFontSize * 1rem;
}
@mixin displayflex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($size:1){
  -webkit-box-flex:$size;
  -moz-box-flex:$size;
  -webkit-flex:$size;
  -ms-flex:$size;
  flex:$size;
}
@mixin flexflowCol($direction:column,$dir:vertical){
  -webkit-box-orient:$dir;
  -ms-box-orient: $dir;
  -moz-box-orient: $dir;
  -webkit-flex-flow:$direction nowrap;
  -ms-flex-flow:$direction nowrap;
  -moz-flex-flow:$direction nowrap;
  flex-flow:$direction nowrap;
}
@mixin flexflowRow($direction:row,$dir:horizontal) {
  -webkit-box-orient:$dir;
  -ms-box-orient: $dir;
  -moz-box-orient: $dir;
  -webkit-flex-flow:$direction nowrap;
  -ms-flex-flow:$direction nowrap;
  -moz-flex-flow:$direction nowrap;
  flex-flow:$direction nowrap;
}
@mixin shadow($x:0,$y:0px,$z:5px,$color:#bdbdbd) {
  box-shadow : $x $y $z $color;
  -webkit-box-shadow:  $x $y $z $color;
  -moz-box-shadow:  $x $y $z $color;
}
//page相关
.page,.page-group{
  position: absolute;
  overflow: hidden;
  width:100%;
  top:0;
  left:0;
  height: 100%;
}
.page{
  display: none;
  z-index:100;
  &.page-current{
    display: block;
  }
}
.page-content{
  position: absolute;
  width:100%;
  top:0;
  bottom:0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling:touch;
}
//alert && confirm
.confirm-bg{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10600;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0,0,0,.4);
  -webkit-transition-duration:400ms;
  transition-duration: 400ms;
}
.confirm-content{
  background-color: #e8e8e8;
  border-radius: rem(4px);
  width:rem(290px);
  position: absolute;
  z-index:11000;
  left: 50%;
  box-sizing: border-box;
  margin-left: rem(-290px/2);
  top:50%;
  text-align: center;
  background-color: white;
  color:#535353;
  opacity: 0;
  font-size: rem(18px);
  -webkit-transform:translate3d(0,0,0) scale(1.185);
  transform: translate3d(0,0,0) scale(1.185);
  -webkit-transition-property:-webkit-transform,opacity;
  transition-property: transform,opacity;
  &.in{
    opacity: 1;
    -webkit-transition-duration:400ms;
    transition-duration: 400ms;
    -webkit-transfrom:translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
  }
  &.out{
    opacity: 0;
    z-index: 10999;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: translate3d(0, 0, 0) scale(0.815);
    transform: translate3d(0, 0, 0) scale(0.815);
  }
  .confirm-inner{
    padding: rem(25px) rem(25px) rem(19px) rem(25px);
  }
  .confirm-detail{
    font-size: rem(14px);
    color:#535353;
    margin-top: rem(10px);
  }
  .confirm-buttons{
    @include displayflex;
    @include flexflowRow(row,horizontal);
    border-top:1px solid #E4E4E4;
    span{
      display: block;
      @include flex(1);
      height: rem(50px);
      line-height: rem(50px);
      box-sizing: border-box;
      &:active{
        background-color: #d4d4d4;
      }
    }
    span + span{
      border-left: 1px solid #E4E4E4;
    }
  }
}
.confirm-bg.confirm-bg-visible{
  visibility: visible;
  opacity: 1;
}
.alert-msg {
  position: absolute;
  z-index: 10000;
  top: 40%;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0%, 0);
  transform: translate3d(0, 0%, 0);
  -webkit-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.alert-msg.in {
  opacity: 1;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.alert-msg div {
  background-color: rgba(63, 63, 63, 0.47);
  color: white;
  display: inline;
  margin: 0 auto;
  font-size: 0.7rem;
  padding: 0.55rem 1.55rem;
  border-radius: 1.6rem;
}
*{
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color:rgba(255,255,255,0);
  font-family: Helvetica, sans-serif;
  -webkit-touch-callout: none;
  box-sizing: border-box;
}
a:active,a:hover,a:link,a:visited{
  text-decoration: none;
  outline: none;
}
html,body{
  width: 100%;
  height: 100%;
  font-size: 20px;
}
html {
  font-size: 20px;
}
.head-img {
  width: 100%;
  height:rem(392px);
  img {
    width:100%;
    height:100%;
  }
}
body{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.wrapper {
  position: absolute;
  overflow-x: hidden;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}
.navBar {
  width: 100%;
  height: rem(80px);
  line-height:rem(80px);
  @include displayflex;
  @include flexflowRow();
  div {
    @include flex(1);
    text-align: center;
    font-size: rem(34px);
    &.sichuan {
      color: #df3c2c;
    }
    &.chongqing {
      color: #ff7e14;
      border-left: rem(2px) solid #d98014;
      border-right: rem(2px) solid #d98014;
    }
    &.yunnan{
      color: #00c09b;
    }
    &.selected {
      &.sichuan {
        color: #fff;
        background-color: #df3c2c;
      }
      &.chongqing {
        color: #fff;
        background-color: #fb9025;
      }
      &.yunnan{
        color: #fff;
        background-color: #3aa291;
      }
    }
  }
}
.contents-wrapper {
  width: 100%;
  font-size: 0;
  overflow: hidden;
  position:   relative;
  .contents {
    position: absolute;
    width: 100%;
    font-size: 0;
    -webkit-transition:.2s ease-out;
    transition: .2s ease-out;
    .presell {
      background-color: #df3c2c;
      padding: rem(34px) 0;
    }
    .have-to {
      background-color: #ffc779;
    }
    .around {
      background-color: #ffc171;
    }
    .rules {
      background-color: #f67800;
    }
    .item {
      margin: 0 auto;
      position: relative;
      border-radius: rem(8px);
      overflow: hidden;
      width: rem(590px);
      margin-bottom: rem(34px);
      &:last-child {
        margin-bottom: 0;
      }
      .img-wrapper {
        width:100%;
        position: relative;
        height:rem(205px);
        img{
          width:100%;
        }
        .price-cover {
          position: absolute;
          bottom:0;
          left:0;
          width:100%;
          height: rem(54px);
          background-color: #000;
          opacity: .6;
        }
        .price-wrapper {
          position: absolute;
          bottom:0;
          left:0;
          width:100%;
          height: rem(54px);
          line-height:rem(60px);
          text-align: right;
          span {
            font-size: rem(26px);
            color: #ffffff;
            &:first-child {
              font-size: rem(22px);
              text-decoration: line-through;
              padding-right: rem(40px);
            }
            &:last-child {
              font-size: rem(36px);
              padding-right: rem(32px);
              padding-left: rem(8px);
            }
          }
        }
      }
      .pending-icon {
        position: absolute;
        top:rem(22px);
        left: 0;
        padding-left: rem(12px);
        width: rem(180px);
        height:rem(78px);
        background-color: #d71405;
        border-bottom-right-radius: rem(72px);
        border-top-right-radius: rem(72px);
        color: #ffffff;
        h5 {
          display: inline-block;
          margin: rem(4px) 0 0 0;
          font-size: rem(28px);
          padding: 0;
        }
        p {
          display: inline-block;
          font-size: rem(24px);
          margin:0;
          padding: 0;
        }
      }
      .hot-icon {
        position: absolute;
        top:0;
        left:rem(27px);
        width:rem(96px);
        height:rem(89px);
        img{
          width:100%;
          height:100%;
        }
      }
      .infos {
        width:100%;
        padding: rem(20px) rem(14px);
        background-color: #fff;
        h5{
          font-size: rem(32px);
          margin-bottom: rem(14px);
        }
        .bottom {
          span {
            color: #5b5b5b;
            font-size: rem(28px);
          }
          a {
            float: right;
            display: inline-block;
            width: rem(200px);
            height:rem(48px);
            line-height:rem(48px);
            text-align: center;
            border-radius: rem(6px);
            background-color: #d71405;
            color: #ffffff;
            font-size: rem(32px);
          }
          &:after{
            content: '';
            display: block;
            clear: both;
          }
        }
      }
      &.disabled {
        &:after {
          content: '';
          display: inline-block;
          position: absolute;
          top: rem(80px);
          left:rem(60px);
          width:rem(442px);
          height:rem(149px);
          background: url(/old/images/autumn/sold-out.png) no-repeat center;
          background-size: contain;
          -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
        }
      }
    }
    .color-walk {
      width:100%;
      height:rem(219px);
      font-size: 0;
      img {
        width:100%;
        height: 100%;
        font-size: 0;
      }
    }
    .around-img {
      width:100%;
      height: rem(275px);
      font-size: 0;
      img{
        width:100%;
        height:100%;
      }
    }
    .view-more {
      width: 100%;
      height:rem(182px);
      font-size: 0;
      img{
        width: 100%;
        height:100%;
      }
    }
    .rules {
      padding: rem(30px) 0;
      position: relative;
      background-color: #f67800;
      .title {
        position: absolute;
        width:rem(114px);
        height:rem(30px);
        top:rem(15px);
        left:rem(55px);
        text-align: center;
        font-size: rem(26px);
        color: #ffffff;
        background-color: #f67800;
      }
      ol {
        padding: rem(24px) rem(20px) rem(24px) rem(44px);
        border: rem(2px) solid #ffffff;
        width:rem(560px);
        margin: 0 auto;
        li {
          font-size: rem(24px);
          color: #ffffff;
        }
      }
    }
    &.chongqing {
      .presell {
        background-color: #fb9025;
      }
    }
    &.yunnan {
      .presell {
        background-color: #3aa291;
      }
      .rules {
        .title {
          background-color: #3aa291;
        }
        background-color: #3aa291;
      }
    }
    &.current{
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    &.prev{
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      opacity: .4;
    }
    &.next{
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      opacity: .4;
    }
  }
}