$baseFontSize : 20px !default;
$red : #D71345 !default;
$opacity: 1 !default;
@function rem($px) {
  @return $px / $baseFontSize * 1rem;
}
@mixin displayflex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($size:1){
  -webkit-box-flex:$size;
  -moz-box-flex:$size;
  -webkit-flex:$size;
  -ms-flex:$size;
  flex:$size;
}
@mixin flexflowCol($direction:column,$dir:vertical){
  -webkit-box-orient:$dir;
  -ms-box-orient: $dir;
  -moz-box-orient: $dir;
  -webkit-flex-flow:$direction nowrap;
  -ms-flex-flow:$direction nowrap;
  -moz-flex-flow:$direction nowrap;
  flex-flow:$direction nowrap;
}
@mixin flexflowRow($direction:row,$dir:horizontal) {
  -webkit-box-orient:$dir;
  -ms-box-orient: $dir;
  -moz-box-orient: $dir;
  -webkit-flex-flow:$direction nowrap;
  -ms-flex-flow:$direction nowrap;
  -moz-flex-flow:$direction nowrap;
  flex-flow:$direction nowrap;
}
@mixin shadow($x:0,$y:0px,$z:5px,$color:#bdbdbd) {
  box-shadow : $x $y $z $color;
  -webkit-box-shadow:  $x $y $z $color;
  -moz-box-shadow:  $x $y $z $color;
}
*{
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color:rgba(255,255,255,0);
  font-family: Helvetica, sans-serif;
  -webkit-touch-callout: none;
  box-sizing: border-box;
}
a:active,a:hover,a:link,a:visited{
  text-decoration: none;
  outline: none;
}
html,body{
  width: 100%;
  height: 100%;
  font-size: 20px;
}
html {
  font-size: 20px;
}
//侧边栏
.sidebar{
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
  z-index:1001;
  overflow: auto;
  position: fixed;
  top:0;
  left: rem(100px);
  right:0;
  bottom: 0;
  background-color: white;
  &.sidebar-transition{
    -webkit-transition:.15s ease-out;
    transition: .15s ease-out;
  }
  &.sidebar-in{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  .sidebar-content{
    position: relative;
  }
  .sidebar-title,.sidebar-item{
    width: 100%;
    height: rem(60px);
    line-height: rem(60px);
    border-bottom: 1px solid #D8D8D8;
    @include displayflex;
    @include flexflowRow();
    .left{
      width: rem(64px);
      height: 100%;
      background: url(/images/sidebar_user.png) no-repeat center;
      background-size: rem(34px);
    }
    .right{
      @include flex(1);
      font-size: rem(16px);
      color:#424242;
    }
  }
  .sidebar-item{
    height: rem(42px);
  }
  .sidebar-item .right{
    color:#737373;
    font-size: rem(14px);
    line-height: rem(42px);
  }
  .sidebar-item .left{
    &.sidebar-index{
      background: url(/images/sidebar_index.png) no-repeat center;
      background-size: rem(26px);
    }
    &.sidebar-order{
      background: url(/images/sidebar_order.png) no-repeat center;
      background-size: rem(26px);
    }
    &.sidebar-tourism{
      background: url(/images/sidebar_tourism.png) no-repeat center;
      background-size: rem(26px);
    }
    &.sidebar-admin{
      background: url(/images/sidebar_admin.png) no-repeat center;
      background-size: rem(26px);
    }
  }
}
.sidebar-backdrop{
  z-index:1000;
  position: fixed;
  top:0;
  bottom:0;
  left: 0;
  right:0;
  opacity: 0;
  background-color: black;
  transition:opacity .15s linear;
  -webkit-transition:opacity .15s linear;
  &.in{
    opacity: .42;
  }
}
//page相关
header{
  position: absolute;
  height: rem(40px);
  width: 100%;
  @include displayflex;
  @include flexflowRow();
  background-color: $red;
  z-index: 103;
  top:0;
  .back{
    width: rem(38px);
    height: 100%;
    background: url(/images/back.png) no-repeat center;
    background-size: rem(9px) rem(16px);
    text-indent: -9999px;
    &.no-icon{
      background: none;
    }
  }
  .center{
    @include flex(1);
    font-size: rem(16px);
    color:white;
    line-height: rem(40px);
    text-align: center;
  }
  .home{
    text-indent: -9999px;
    height: 100%;
    width: rem(38px);
    background: url(/images/admin.png) no-repeat center;
    background-size:rem(17px) rem(17px);
    &.no-icon{
      background: none;
    }
  }
}
footer{
  position: absolute;
  height:rem(40px);
  width:100%;
  line-height:rem(40px);
  bottom: 0;
}
footer ~ .page-content{
  bottom:rem(40px);
}
header ~ .page-content{
  top: rem(40px);
}
.page,.page-group{
  position: absolute;
  overflow: hidden;
  width:100%;
  top:0;
  left:0;
  height: 100%;
}
.page{
  display: none;
  z-index:100;
  &.page-current{
    display: block;
  }
}
.page-content{
  position: absolute;
  width:100%;
  top:0;
  bottom:0;
  overflow: auto;
  -webkit-overflow-scrolling:touch;
}
//page切换动画效果
.center-to-left{
  display: block;
  -webkit-animation: pageFromCenterToLeft 400ms forwards;
  animation: pageFromCenterToLeft 400ms forwards;
}
.center-to-right{
  display: block;
  -webkit-animation: pageFromCenterToRight 400ms forwards;
  animation: pageFromCenterToRight 400ms forwards;
}
.left-to-center{
  z-index: 102;
  display: block ;
  -webkit-animation: pageFromLeftToCenter 400ms forwards;
  animation: pageFromLeftToCenter 400ms forwards;
}
.right-to-center{
  //z-index: 102;
  display: block ;
  -webkit-animation: pageFromRightToCenter 400ms forwards;
  animation: pageFromRightToCenter 400ms forwards;
}
@-webkit-keyframes pageFromRightToCenter {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: .9;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes pageFromRightToCenter {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: .9;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes pageFromCenterToRight {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
    opacity: $opacity;
  }
}
@keyframes pageFromCenterToRight {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
    opacity: $opacity;
  }
}
@-webkit-keyframes pageFromCenterToLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
    opacity: $opacity;
  }
}
@keyframes pageFromCenterToLeft {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
    opacity: $opacity;
  }
}
@-webkit-keyframes pageFromLeftToCenter {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: .9;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes pageFromLeftToCenter {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: .9;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
//alert && confirm
.confirm-bg{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10600;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0,0,0,.4);
  -webkit-transition-duration:400ms;
  transition-duration: 400ms;
}
.confirm-content{
  background-color: #e8e8e8;
  border-radius: rem(4px);
  width:rem(290px);
  position: absolute;
  z-index:11000;
  left: 50%;
  box-sizing: border-box;
  margin-left: rem(-290px/2);
  top:50%;
  text-align: center;
  background-color: white;
  color:#535353;
  opacity: 0;
  font-size: rem(18px);
  -webkit-transform:translate3d(0,0,0) scale(1.185);
  transform: translate3d(0,0,0) scale(1.185);
  -webkit-transition-property:-webkit-transform,opacity;
  transition-property: transform,opacity;
  &.in{
    opacity: 1;
    -webkit-transition-duration:400ms;
    transition-duration: 400ms;
    -webkit-transfrom:translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
  }
  &.out{
    opacity: 0;
    z-index: 10999;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: translate3d(0, 0, 0) scale(0.815);
    transform: translate3d(0, 0, 0) scale(0.815);
  }
  .confirm-inner{
    padding: rem(25px) rem(25px) rem(19px) rem(25px);
  }
  .confirm-detail{
    font-size: rem(14px);
    color:#535353;
    margin-top: rem(10px);
  }
  .confirm-buttons{
    @include displayflex;
    @include flexflowRow(row,horizontal);
    border-top:1px solid #E4E4E4;
    span{
      display: block;
      @include flex(1);
      height: rem(50px);
      line-height: rem(50px);
      box-sizing: border-box;
      &:active{
        background-color: #d4d4d4;
      }
    }
    span + span{
      border-left: 1px solid #E4E4E4;
    }
  }
}
.confirm-bg.confirm-bg-visible{
  visibility: visible;
  opacity: 1;
}
.alert-msg {
  position: absolute;
  z-index: 10000;
  top: 40%;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0%, 0);
  transform: translate3d(0, 0%, 0);
  -webkit-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.alert-msg.in {
  opacity: 1;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.alert-msg div {
  background-color: rgba(63, 63, 63, 0.47);
  color: white;
  display: inline;
  margin: 0 auto;
  font-size: 0.7rem;
  padding: 0.55rem 1.55rem;
  border-radius: 1.6rem;
}
// preloader
@-webkit-keyframes rotate{
  from{
    -webkit-transform:rotate(360deg)
  }
  to{
    -webkit-transform:rotate(0deg)
  }
}
@keyframes rotate{
  from{
    transform:rotate(360deg)
  }
  to{
    transform:rotate(0deg)
  }
}
.preloader-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10600;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  visibility: visible;
  opacity: 0;
  background: none;
}
.preloader-modal {
  position: absolute;
  left: 50%;
  top: 45%;
  padding: 0.4rem;
  margin-left: -1.25rem;
  margin-top: -1.25rem;
  background: rgba(0, 0, 0, 0.8);
  z-index: 11000;
  border-radius: 0.25rem;
  .preloader {
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    &.preloader-animation{
      -webkit-animation:rotate .7s linear 0s normal none infinite ;
      animation:rotate .7s linear 0s normal none infinite ;
    }
    &:after {
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAABOCAYAAACOqiAdAAAAAXNSR0IArs4c6QAAERVJREFUeAHdnFlsnFcVx2dsx3bsbM6+OI2dhaYNXRNRuiqRqlY8gZDKQ4VApBK8IPHYF4QigaA88FAJFQoSrUQFTYqgqmhVoCipiopaJYimSUqVxG6aZl+bzXHsePj9z3zn5n7ffDN2YjuJ50h37rnnnnvvOf85d/mWmWLhBlGpVCoydPGVV14pPvHEE25FCaZULBapLj0E/3vy8+RnSOfgDzc0NOy9fPlyD/ze06dPfzhnzpyz1F13kvHXhXBUYzUo7dmzR3nh0qVLpdtvv93AohjyBLgHkW2knVSHvJ5y0EN2meKHpH/Dv9vU1PQebS/DjzuZA+M5Ck417t69u4UxJh86dKjls88+w78m+8IALQy9ZcuW7JfoAAWdMmbloniS7L+T9F34FwYHB9/u7+9/mrQyNBonJmvsmA2zdevWSZ2dnc1Mp4aZM2eWhoaGLDHNSvv37y8sWLCghKMlRV1fX1/p7NmzpWPHjpV27dpV2rBhwxBA3I8xm8hlo0UcvIMpNvDqG52QkroPkD8/efLkLdSNOTWNdY87d+5shlpZi4qTJk0qzZo1q3TixIkigBUAqsCaVFi8eLFAG25ogZVLZczKVYATdGI5wjuZtr+8ePHix/C/bm1t/UdQHANmzIDD6EbWrnZAa5w2bVqJSCsoJY6VBJj42NFh7E8Cp6wVg6I1EKnqfSOxciyP9L+A7i/Onz//Hl/mT4nA3mHGHVH1qKeqbD9y5EgbEdTKdCtMmTIlTEtAKs2YMcPKclJlJU1XTVMln6qrV68OUw0ANFXX4MGfybWOqSyQLKesoumrP5VjWZZXGT2ywgDgvdjS0vI8fQ1IcK00KuCwvZHFfjrTobG9vT0FkAxyoBwsB2xgYKA0b948A66rq8vWL9QDAAlAq5H9hTEMOHUnHSfxeaCpXnWeYn2Xke8iPd3W1naA/JromoHr7e1tBYhpGlWgnTt3zoASL4pBE6/Ii+UOoqJu+fLlKfAS4O6h61dp00iu+txoy4tCdG0s5UoaH4K9AijtziL/MTPkn6q4Wrqm48jRo0enMNCMqVOnFrUJsH4UMaBAOYwPkFaneiXWu6pfEjtpcdu2bdl68zTpMPAJABL7+mYqLlce84Bj9QBlIKqd6pHLh2ew81umcJUfV7U5MGCxp6dn2smTJ9vZpUoXLlywaJMhAko5EWcbgDYIN9ptol3YXZmuBe24XpeTH6H9c8j1bbTR93zybtI8krXTeAk5iCGXjsASJfpBOSrLxu9j+0zsfjYBN+mydpb9lqtqM36R9awDhckyhgHdeBVLrBeWY0RY27IbBWDanFFbgBvinKcziU765mTVwaMKBmlnet+L6D7SQ5RXamB4ZQEkKyQfqouT62EH4nIdoL2OvT8ZKXgjBm779u0dHGTbOawWFG2iLHgqx2uc60iuJLAaGxsvsaYNYGB5Dsn0URBjLOVK4assB1+Dn6Ux6c5tqwBUdWWVsg7tpCsLJH95+vTpz6owHI0IOA6w01ijbHUXaFnwFG2sczayABIJwIi/TB8XAezSSL/R4QzP1jNkC3Z9nXw9YMwjFxop4JCpmck8d9BUTuqfA7yXpFiLhgXu8OHD7axls7OAZcHTqA6gA6Yc2Xmm5MXxAizrHGY0Y+9TjPcd+EnUy7QUWJIpxaAlemQm/2FHR8cWFapRTeB0vcn0XIgRtspmwUsMSkWaZAIQ3QG+uTM0vS53K7IOAt5iZM9gTlgDKQcAq4EmHeg8l4vrmTUHs/16uepxhMZFHJ9H2DcAQkHgcdBVFvKYR83q9EE0XqLtadgbApqc48vbzxXNU7B/IwXAxMegCSUI8ZUopNzGeryBXBGbS1Ujjh10FofU6WoVeobhcqUEgCZTBIo0bTUtuQ7UEeXsypUrb8jNxVwPEbL+rsfM78kVgSabxXuSjC/eyg6qVEgvcWT6LXoVlBtxNGgGnI4QQjAedexggfcIBLCCbh2hdupmA00eM+V+RwQ9DSj9+BYAoypEH3W6hpZ6XP8Nzp63SJilXOAOHDgwl8iy6akGAlCA1SJAPMXtor7sADdLWYs9wPwIe2JgcvkythaYTfA/yPOhAjhuJk4FpDaUi9y5SGHl5RhERR0Rd+ZmBs0dB7y3iazf1AIvG5Ho3s0l5iPeh+cVwHHyn+VooaQ1sAJAr1cOaBeYpp97hzd7DngvAt5bmppKOUCl5KrHzW9m/UoBl1y8t2qaenQJHIGn5NNXMtWzbgzMnz//RLbTm73MnZqfYaPuDNtUFTi+vol3uee4280B/suUA6WAo/FsgeJUDUDVq44rgSOwOqFPKMLmfnzdgNGXSAEoRaCXHcAyjgUB+yR1gQJwvdxfI4raBEocbSqLXKac1rqVpHPaqO6iBituADN79mzdxHzJpyy+KACEVwDPp3IC6K1cdi51UwNwbNkzEAaAYrDiKSo5HV3euHHjKe9kouYHDx58GXeOYH8FYPgotwKI4tkUH5VQZMDRqsitmhkChYctkltUqSxiKbPLAs+pP6VHeFKcyLRq1apLAPRHjzJFlhI+BSC9LsnXbtq0SXeky8BxBGlnDk8CmDJSySf1YWPwCjoeuuWWWybMLionaxFT9k1AOemAoWug4a/fb4+jbsbatWvvUH8WcVwmTc2CFpfFo2uJKa21bcJHm5wX4Ys2iDdJBpjybBKoTgTY3dSXgeOVBN2eDuCIr0Y8AqybaBMAIm6uviVgFBDKEYWzXE4k6pWLQgN6jUSU7aYxWNTZ2qacdU9roNa5/hUrVvSrYT0RF/L7AWiPQPKEf8IwRF/EL2NTaWs4fvx4CjQaCLAYQytLTpieqyfAMr5si8ARmweaznNFInRFA5HUKlA8pRCjILkiTsT6VrfAgdN2fPVd1c50cfRFddJZ1MRHq0Chwohoc9ZygLWXZ6TCDnQhVVlHBSLpI92TUwKTlGcCMBaAySKtcZMFnEiVZS79qfWN8BxEesPu6MaGjwef3N05loAUNgjGsugjD1MXfqEirjk5bsgeiy4xWUJH23ZdE0F0gDQz46RFWyYKO5oI0SbFV0a5okjEpedwhcbEFwDacbzwaZkHmDmJXmsTc7oRNANw1TAE4PTEn/g45XmgNXwkfrZqqur9kQCcNoO4Rw7Hhjw7a92ub5G/F8DDIy4Sp1mCq8VAqzVVdW5RM6ZqCtB0V/VRwldtjsMCh7clPTNVJAmUmonNQSDXO+lMK+BqJqKyT09xhmpFnCPFFK574Fjv9bMCXa/WnF3oXWjiju6QpiNrmWOUm7PGqdN6Jx1F7JWzeMOMnQY0XcT2aVfVhWnB17I8ALVh0FF73EGd8np50dY4cLE8BlCgichPKsz6AK6DPDc8BaiABdAWkG6Er8vdtZdnLoCktxcMMAEUk4MmGToHBaGevsOXKQHKCvCqD5uG3jCnXJdEYKzA6bzLK5u6BE0gcDmka1VFXAAHVAJv6EUf6Coy65KItttwzG5mKveE+3lgHmzg+YHeLLLNwTHyqJPck6KP+lmU65VW4VgALOLlbywfYtr2CIxBdtZzAg2FVJLMSXV8K9P0hqZ6qif65JNPFuDnYnyKATIeeSriBJrupNg2wduHekbqGFmusqd4reMgvBB5vdH9OGRrmPIsWJJ5Ing+gi8/rEHxlKYnl1WSGWAqO688ok5/tijliU6gpbcu9WvsAI54ET4rk4sefcp3SmARx8vNp1AaqAGWg6nNpGXNmjWdalwPtG/fPoE2VQiBQWpaIpfYSCCCzxn2hFTE6ZbxYRT1QAadMqnsKZahu6weok4vhzPLHsO3AJgDJdA84a/x6L6b6JYjDoUC74ccisFBVBVE6iY/8MADy9RuIhO/oX1ch158CCA5DxaGoZeVCzhyI5uq4vRvCiB7RutcXtT5NPY6LsNWTOQdlv8HmAMyj+G6rWVxLt6TAwjAPYsWLdqP3CgApxKvpfbkRR1VNmXjOkDWg+w1DG47ivU2QT7083eOYOsxt1FhRZ5KAisrA7jXY/dSwPGi4FEiTs9ObZoqV3KKy4o8xpzBHxPoB2kTivh56JP41OlrF8YLP5H8CHnilCJy/9KlSz9IypalgJOEb2KvpisUriZUgBy/sGEksk4ukMf97yrMgjH4+PTTTx8HmXsSdFKRJRlOpmQMqeesqWiTGRXAdXV1HWL9OimUfF1Dz0Dzsq9zrkO+ishbpA5vZsLGO8DmK4mNwskeQFMOuXgRPhmABNH/wOQ/Wb8qgJMCrzrsSBQNMAfII1Fl8Q6kyujfdzODt3fv3juIHL09boD4NBVIyOVuiLSobpB1/GVVZikXuLlz5+p/jPYmgKhNmJ4MEnjJEx1dx+ox44PsVlf+viY72g0qc8h9lMvKb2OrHhUYQDFYyCWOX38wMAHwH93d3TrfVlAucNJasmTJx0TU57A2ZRVhDpJHm5fjyOMbuhNDH9y8eXPte/EVpoy9ACwmMQv0trgdO8gNHIEkXoApV5JIHx5t+LiPi/k3qMslRU9V0jmNF4bX0Z9O2GFqqoGDljRW0SLR1z/kp5jy/9L5MNG5rlnyIz6B1on9ZhugyAbjNXMSEmAmSwxU+PXzjOXnCxcu1JP9XFKDmpSsW1/yqJKyg5Q0tPEljkAzGQaUuLO6g4PjDgTX5Za7hiTiHwGktfC6gHdQBIjxDmA18JC/0N3d/d/Ev9xsWODUqqen51YG+6KiToMh8nYGkIOqeglUH+mp3IfROzi27F63bt0g5TEnXXfyZuW92PAwndtPDxwoym6z2SvbsuAlBknvryxTbyXlqpkUR0SE/l0AtAJlbxNAE2CSi+KoS3RNnvAXWQP3YPTu7u7u02o0WuK10tn0eReD6Gw2VYPRp744+4mBeIEUf5HSyQMP8dvc/Xh1JDY5CMPq6ttj2uoSq0vGiJJGbqjliTwli/SDDs6c4Lx4EKAPLFu27DDtRvQ2lC6X2CE7WYO6+MKWYs8Ckhav0Ld4Byq2J9EhK9vvOgIWO7Z2dXXpByPaLIYlDTZiEnj8lvUuBrw1aZSKMEWeG0N9yhGV3Ql0zFEvqw7D9dDoNHX6Pbx+uDFIXiCaWnCsmbH1d0T6ewzlWq8qwJJcKe430TW518sPyBRlL/2/ww76GrIRgUY/YdqJHzFxj/42BtPUlQHhMCyeTkKSUSrH8jwevQogJeOLCH3FQMV9Si/uM1OXHZ/qK/YJQDavN7iRu1kVV0Pq+JqIyFvMwPeRmh1AOvL+sgbnTh057KCpbQxAFrhaut6WNtafpl7cl+oFUmKf29iP3p+ItA+RXzV5J1fdUA30+1Z+lfMwkTFTRiMKycuxA1k+A7iqrb1AU18inDOZeMniOh/DdePxI/3QXl0kAB7E5j8Qadf8W1sZeM2kS7P333//7xi0Ewe1PshII613Svr2q5HXS8d5dEMfagc4lgDZckQax68vpVJBagNApie7lJKy1pYtHK9+NRrQNGDKyAoLrkLARfR0FnNNXT2jtE1DYGgMLytX2WXOx2VFlEdSrB/reLtsPWOH/l3f+6Lcy+OB1/hT02Pwo6YxA84t4Vy1hGPG3ZRT0zdyUqo25RxYgRXVm/NyOCurVc7TT4DUr7i3cKi1x3pu52jzMQfODdLmIQCZJnPz1rI8mQD1JJCiaDF5HnCxTlSvJeIAR5l3uHOr396POY0bcG6pLrbhVwDUcnL7Ww53sIrTAaS4nrZqFoBVOZ6aAIWooLfGdzDW9u4qt4OkNBY07sC5kTjZAIgLKHeSFlGeS15zPasFnOq06IOl/tlwH331Mh33Uba7kpTHla4bcFkvAK5Z/6hD3qFEfQcA6H8r/UqhReBAemN0AF5/RXue+pPoW2IpOHSjfgb6f+YW7KPgttQxAAAAAElFTkSuQmCC") no-repeat center;
      background-position: 50%;
      background-size: 100%;
    }
  }
}