@import "/common/css/base";
body{
  font-size: 0;
}
.page-content{
  background-color: #f0425a;
}
img{
  width:100%;
  border: none;
}
.coupon-list{
  padding-bottom: 2rem;
}
.coupon-gp {
  margin: rem(10px) auto;
  @include displayflex;
  @include flexflowRow();
  -webkit-align-items: center;
  align-items: center;
  width: rem(345px);
  height: rem(135px);
  background: url(/images/coupon/coupon-bg.png) no-repeat center;
  background-size: contain;
  .left {
    @include flex(1);
    text-align: right;
    img {
      width: rem(115px);
    }
  }
  .right {
    width: 9.75rem;
    @include displayflex;
    @include flexflowCol();
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    h5{
      width: rem(115px);
      background-color: #e40227;
      padding: rem(2px) rem(15px);
      font-size: rem(20px);
      color: white;
      border-radius: rem(20px);
      margin-bottom: .6rem;
      font-weight: inherit;
    }
    p {
      color: #e40227;
      font-size: rem(20px);
      font-weight: 600;
    }
  }
}
.bottom-bg {
  background-color: #fff;
  height: rem(150px);
  text-align: center;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  a {
    display: inline-block;
    width: rem(330px);
    height: rem(50px);
    line-height: rem(48px);
    font-size: rem(18px);
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;
    background-color: #fee500;
    font-weight: 600;
    margin-top: -1.4rem;
  }
  p {
    margin-top: rem(20px);
    text-align: center;
    font-size: rem(16px);
    color: black;
  }
  .bottom-logo{
    margin:rem(40px) auto 0;
    width: 50%;
  }
}