@import "/common/css/base";
*{
  box-sizing: border-box;
  outline: none;
  //word-wrap: break-word;
}
body{
  width: 100%;
  min-height: 100%;
  background-color: #91d2f9;
}
img{
  width: 100%;
  border: none;
  vertical-align: middle;
  display: block;
}
.all_images{
  width: 100%;
  position: relative;
  .top_bg{
    width: 100%;
    min-height: rem(166px);
  }
  .center_bg{
    width: 100%;
    padding: 0 rem(22px);
    position: absolute;
    left: 0;
    margin-top: rem(-25px);
  }
  .bottom_bg{
    width: 100%;
    min-height: rem(301px);
  }
  .rule_bg{
    width: 100%;
    min-height: rem(196px);
    padding: 0 rem(6px);
  }
  .footer_logo{
    width: 100%;
    min-height: rem(59px);
    padding: rem(24px) rem(86px);
  }
}
.content{
  width: 100%;
  position: absolute;
  top: rem(406px);
  .errorTip{
    font-size: rem(14px);
    text-align: center;
    padding: rem(8px);
    color: #222;
    &.hide{
      visibility: hidden;
    }
  }
  .input_group{
    width: rem(280px);
    height: rem(42px);
    border: 2px solid #222;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin: 0 auto;
    font-size: 0;
    overflow: hidden;
    background-color: #ec4456;
    input{
      width: rem(209px);
      height: rem(42px);
      display: inline-block;
      font-size: rem(14px);
      vertical-align: middle;
      border: none;
      border-right: 2px solid #222;
      margin-top: rem(-2px);
      padding: rem(14px) rem(8px);
    }
    a{
      display: inline-block;
      width: rem(67px);
      text-align: center;
      font-size: rem(16px);
      background-color: #ec4456;
      line-height: rem(42px);
      color: #fff;
      vertical-align: middle;
      margin-top: rem(-2px);
      &.disabled{
        background-color:#e3e3e3
      }
    }
  }
}
.rule-wrap{
  width: rem(306px);
  margin: rem(42px) auto 0;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #222;
  position: relative;
  .rule_title{
    width: rem(132px);
    position: absolute;
    top: rem(-15px);
    left: rem(87px);
  }
  .rule{
    width: 100%;
    padding: rem(35px) rem(16px) rem(20px) rem(16px);
    margin: 0 auto;
    font-size: rem(12px);
    p{
      list-style: none;
      line-height: rem(18px);
    }
  }
}
