@import "/common/css/base";
body{
  font-size: 0;
}
.page-content{
  background-color: #91d1fa;
}
img{
  width:100%;
  border: none;
}
.head-img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
.product-gp {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: rem(40px);
  .title {
    width: 60%;
    margin: 0 auto;
  }
  .item {
    margin: rem(15px) auto;
    width: rem(330px);
    height: rem(48px);
    line-height: rem(48px);
    padding-left: rem(10px);
    background: url(/images/coupon/product-bg.png) no-repeat center;
    background-size: contain;
    color: black;
    font-size: rem(16px);
    text-align: left;
  }
}
.bottom-logo {
  width: 40%;
  margin:rem(20px) auto;
}

