@import "/common/css/base";
body{
  font-size: 0;
}
.page-content{
  background: url(/images/represent/bg.jpg) no-repeat center;
  background-size: 100%;
}
img{
  width:100%;
  border: none;
}
.star-wrapper {
  width: 90%;
  margin: 0 auto;
  position: relative;
  .star-wp {
    position: absolute;
    width: rem(117px);
    top: rem(24px);
    left: 50%;
    margin-left: rem(-58px);
  }
  .text-wp {
    position: absolute;
    width: rem(78px);
    top: rem(60px);
    left: 50%;
    margin-left: rem(-39px);
  }
}
.text-img {
  margin: rem(10px) auto;
  width: 90%;
}
.btn-wrapper {
  width: rem(180px);
  margin: rem(10px) auto;
}