<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/complain/complain.scss?__inline">
</head>
<body>
<div class="page-group" style="visibility: hidden">
    <div class="page page-current">
        <div class="page-content">
            <!--头部模块-->
            <div class="header-wrapper">
                <!--头图黑板报-->
                <img src="https://images.simpletour.com/activity/complain/header.png" alt="">
                <!--头图文案-->
                <img src="https://images.simpletour.com/activity/complain/header_text.png" alt="">
                <!--"去打小报告"按钮-->
                <div class="aTag toForm">
                    <img src="https://images.simpletour.com/activity/complain/header_btn.png" alt="">
                </div>
                <!--"听听大家怎么说"按钮-->
                <div class="aTag toRank">
                    <img src="https://images.simpletour.com/activity/complain/header_to_rank.png" alt="">
                </div>

            </div>

            <!--奖品展示模块-->
            <div class="show-prices">
                <!--奖品展示title-->
                <div class="title">
                    <img src="https://images.simpletour.com/activity/complain/show_prices_title.png" alt="">
                </div>

                <!--简途万元旅行基金-->
                <div class="price-wrapper" style="width: 97%;">
                    <img src="https://images.simpletour.com/activity/complain/NO1.png" alt="">
                </div>

                <!--简途豪华礼包-->
                <div class="price-wrapper" style="width: 97%;">
                    <img src="https://images.simpletour.com/activity/complain/NO2.png" alt="">
                </div>

                <!--简途免费巴士直通车-->
                <div class="price-wrapper">
                    <img src="https://images.simpletour.com/activity/complain/NO3.png" alt="">
                </div>

                <!--简途小礼包-->
                <div class="price-wrapper">
                    <img src="https://images.simpletour.com/activity/complain/NO4.png" alt="">
                </div>

                <!--简途会员专属特权-->
                <div class="price-wrapper">
                    <img src="https://images.simpletour.com/activity/complain/NO5.png" alt="">
                </div>

                <!--"去打小报告"按钮-->
                <div class="aTag toForm">
                    <img src="https://images.simpletour.com/activity/complain/header_btn.png" alt="">
                </div>
            </div>

            <!--参与方式-->
            <div class="join-way">
                <div class="title">
                    <img src="https://images.simpletour.com/activity/complain/join_title.png" alt="">
                </div>
                <div class="describe">
                    <article class="total">
                        <section><span>1</span>下载简途旅行APP，参加《年终“小报告”》活动，提出对简途旅行APP及微站的使用建议。</section>
                        <section><span>2</span>打“小报告”的童靴需提交点评及建议10字以上，简途路友局将评选出30名“简途荣誉顾问”发放奖励。</section>
                        <div class="price-intro">
                            <div class="intro-title">奖品介绍</div>

                            <h5><span>1</span>简途路友局【荣誉局长】——1名：</h5>
                            <p>简途过年大礼包——万元旅行基金（简途限量年卡1张）+简途限量2017年日历1份+简途定制行李牌1个+钥匙扣1个</p>
                            <p style="font-weight: 300">（限量年卡：绑定之后的1年内，可以兑换四川、云南、重庆的任意巴士产品）</p>

                            <h5><span>2</span>路友局【首席顾问】——3名：</h5>
                            <p>简途旅行礼包——简途限量2017年日历1份+四川特产大礼包伴手礼1份+简途定制行李牌1个+钥匙扣1个</p>

                            <h5><span>3</span>路友局【高级顾问】——6名：</h5>
                            <p>简途免费巴士直通车1个（10条线路任选其一）+简途限量2017年日历1份+简途定制行李牌1个+钥匙扣1个</p>

                            <h5><span>4</span>路友局【资深顾问】——30名</h5>
                            <p>简途定制行李牌1个+钥匙扣1个</p>

                            <h5><span>5</span>路友局【酱油顾问】</h5>
                            <p>“小报告”被点赞超过3次以上即有机会获得会员专属特权</p>
                        </div>
                        <section>
                            <span>3</span>
                            活动奖品将在活动结束后30个工作日内发放，请凭本人手机号码及身份证号领取。
                            <div class="qrcode">
                                <div class="wechatNum">
                                    <p>获奖通知及兑换奖品请加微信：</p>
                                    <p>Hotmingcheng  Zttloveme713</p>
                                </div>
                                <div class="wechatImg">
                                    <img src="https://images.simpletour.com/activity/complain/qrcode.png" alt="">
                                </div>
                            </div>
                        </section>
                        <section><span>4</span>本活动最终解释权归成都简途旅行社有限公司所有。</section>
                        <section><span>5</span>获奖名单将于2017年2月15日在APP首页公布，敬请期待！</section>
                    </article>
                </div>
                <div class="join-now">
                    <img src="https://images.simpletour.com/activity/complain/join_btn.png" alt="">
                </div>
            </div>
            
            <!--底部logo-->
            <div class="bottom-logo">
                <img src="https://images.simpletour.com/activity/complain/bottom_logo.png" alt="">
            </div>
        </div>
    </div>
</div>
<script src="/common/js/zepto.min.js"></script>
<script src="/common/common/js/base.js"></script>
<script>
    (function (doc, win) {

        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                };
        recalc();
        doc.getElementsByClassName('page-group')[0].style.visibility = 'visible';
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    $(document).ready(function() {

    });
</script>
</body>
</html>
