<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/old/css/coupon/toUse.scss?__inline">
</head>
<body>
<div class="main-wrap">
    <div class="all_images">
        <img class="top_bg" src="/old/images/coupon/top_bg.png" alt=""/>
        <img class="center_bg" src="/old/images/coupon/center_bg.png" alt=""/>
        <img class="bottom_bg_text" src="/old/images/coupon/bottom_bg_text.png" alt=""/>
    </div>
    <div class="content">
        <a href="#">点击一下,马上用券</a>
        <div class="tip">有福同享!马上告诉好基友好丽友~</div>
    </div>
</div>
<div class="footer">
    <img class="footer_logo" src="/old/images/coupon/logo.png" alt=""/>
</div>
<script src="/old/common/js/zepto.min.js"></script>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                };
        recalc();
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>
