<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/nationalDay/index.scss?__inline">
</head>
<body>
<div class="page-group" style="visibility: hidden">
    <div class="page page-current">
        <div class="page-content">
            <img class="header" src="/images/nationalDay/header.png">
            <div class="tabs">
                <div data-href="recommend" class="recommend selected">
                    简途口碑王
                </div>
                <div data-href="crowdfunding" class="crowdfunding">
                    特色拼玩
                </div>
                <div data-href="card" class="card">
                    简途通
                </div>
                <div data-href="presale" class="presale">
                    错峰预售
                </div>
            </div>
            <div class="switch">
                <div class="recommend show opacity">
                    <img class="title-img" src="/images/nationalDay/recommend-title.png">
                    <div class="place">
                        四川
                    </div>
                    <div class="products">
                        <a href="simpletour://app/tourismPackage?id=234">
                            <div class="single">
                                <img src="http://images.simpletour.com/simpletour/images/wechat_home/37811cd068e25985e357e98c9a2ff0ec.png">
                                <div class="tips">
                                    <div class="tips-content">
                                        <h3>探寻人类星球最后净土</h3>
                                        <div class="cutline"></div>
                                        <p><span>稻城亚丁</span>6日自由行套餐<span class="red">¥1553</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="double">
                            <a href="simpletour://app/tourismPackage?id=293">
                                <div class="double-item">
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/9d8a2d443305bfd97351e48dc46b6801.png">
                                    <h3>一小时就能到的绿水青山</h3>
                                    <p>青城山、都江堰1日自由行(含都江堰、青城山门票)</p>
                                    <div class="price">
                                        <span>¥</span>236
                                    </div>
                                </div>
                            </a>
                            <a href="simpletour://app/tourismPackage?id=274">
                                <div class="double-item">
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/686c288be0e45e86eb3657a042c02a19.png">
                                    <h3>相机还原不了的绝美色彩</h3>
                                    <p>成都-九寨沟3日自由行（含住+门票）</p>
                                    <div class="price">
                                        <span>¥</span>815
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="double">
                            <a href="simpletour://app/tourismPackage?id=19">
                                <div class="double-item">
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/3a4038edd9dd819fbed2218198f174ce.png">
                                    <h3>再瘦都躲不过“峨乐胖三斤”</h3>
                                    <p>峨眉山、乐山大佛2日自由行（含住宿）</p>
                                    <div class="price">
                                        <span>¥</span>164
                                    </div>
                                </div>
                            </a>
                            <a href="simpletour://app/tourismPackage?id=25">
                                <div class="double-item">
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/fdb04c42344d1eacb1b3b642ba4e11f0.png">
                                    <h3>前方高萌胖达滚滚而来</h3>
                                    <p>熊猫基地、三星堆车1日自由行（含门票）</p>
                                    <div class="price">
                                        <span>¥</span>199
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="place">
                        重庆
                    </div>
                    <div class="products">
                        <div class="double">
                            <a href="simpletour://app/tourismPackage?id=349">
                                <div class="double-item">
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/740985dfdce499dc764deb99674dd180.png">
                                    <h3>山城经典一日耍个遍</h3>
                                    <p>重庆1日自由行</p>
                                    <div class="price">
                                        <span>¥</span>114
                                    </div>
                                </div>
                            </a>
                            <a href="simpletour://app/tourismPackage?id=78">
                                <div class="double-item">
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/b4ff647362b6366c75f56cafebb41131.png">
                                    <h3>大自然的鬼斧神工</h3>
                                    <p>武隆1日自由行（含门票）</p>
                                    <div class="price">
                                        <span>¥</span>269
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="place">
                        云南
                    </div>
                    <div class="products">
                        <div class="double">
                            <a href="simpletour://app/tourismPackage?id=329">
                                <div class="double-item">
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/0d8f99219a79c6b771a749a13c2f7c3d.png">
                                    <h3>等你回来给我讲故事</h3>
                                    <p>丽江-虎跳峡、香格里拉3日自由行</p>
                                    <div class="price">
                                        <span>¥</span>539
                                    </div>
                                </div>
                            </a>
                            <a href="simpletour://app/tourismPackage?id=331">
                                <div class="double-item">
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/09715053ca3b9af98939cbe85b1d484f.png">
                                    <h3>跟着阳光在雪地跳舞</h3>
                                    <p>丽江-玉龙雪山1日自由行（含门票、索道票）</p>
                                    <div class="price">
                                        <span>¥</span>388
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="place">
                        泰国
                    </div>
                    <div class="products">
                        <div class="double">
                            <a href="simpletour://app/tourismPackage?id=122">
                                <div class="double-item">
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/9eea0580f090f85badfa7b9295c1ba0f.png">
                                    <h3>重温经典电影场景</h3>
                                    <p>真理寺、杜拉拉水上市场半日游（含门票）</p>
                                    <div class="price">
                                        <span>¥</span>159
                                    </div>
                                </div>
                            </a>
                            <a href="simpletour://app/tourismPackage?id=106">
                                <div class="double-item">
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/487a7a540a7568b4442a8a2a8b017520.png">
                                    <h3>一天逛完曼谷最地道市集</h3>
                                    <p>曼谷四大市场1日自由行</p>
                                    <div class="price">
                                        <span>¥</span>299
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="crowdfunding">
                    <img src="/images/nationalDay/crowdfunding-title.png" class="title-img">
                    <div class="place">
                        四川
                    </div>
                    <div class="product-wrap">
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/home/tourism/930?mode=preview">
                            <div class="product">
                                <img src="http://images.simpletour.com/simpletour/images/wechat_home/2cda21e2edd77bfc2fb88defc47b72f3.png">
                                <div class="right">
                                    <h3>群山幽谷四季青碧</h3>
                                    <p>碧峰峡1日自由行（含门票）</p>
                                    <p><span>20人发团</span><span class="price"><span>¥</span>237</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="product-wrap">
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/home/tourism/931?mode=preview">
                            <div class="product">
                                <img src="http://images.simpletour.com/simpletour/images/wechat_home/aa65626c42dfb6372b7d0ca2d428dc54.png">
                                <div class="right">
                                    <h3>踏月归乡私享理想生活</h3>
                                    <p>明月村1日自由行（含餐、陶艺体验）</p>
                                    <p><span>20人发团</span><span class="price"><span>¥</span>167</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="place">
                        重庆
                    </div>
                    <div class="product-wrap">
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/home/tourism/928?mode=preview">
                            <div class="product">
                                <img src="http://images.simpletour.com/simpletour/images/wechat_home/7b983ec0552c6de9c4b7b82dcd53d3c9.png">
                                <div class="right">
                                    <h3>踏着青山追落日</h3>
                                    <p>金佛山1日自由行（含门票）</p>
                                    <p><span>20人发团</span><span class="price"><span>¥</span>184</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="product-wrap">
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/home/tourism/463?mode=preview">
                            <div class="product">
                                <img src="http://images.simpletour.com/simpletour/images/wechat_home/07c599bb432ec2dbab14e505fb397f58.png">
                                <div class="right">
                                    <h3>峡谷蜿蜒惊险刺激</h3>
                                    <p>金刀峡1日自由行（含门票、索道票）</p>
                                    <p><span>20人发团</span><span class="price"><span>¥</span>268</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="place">
                        云南
                    </div>
                    <div class="product-wrap">
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/home/tourism/916?mode=preview">
                            <div class="product">
                                <img src="http://images.simpletour.com/simpletour/images/wechat_home/0d8f99219a79c6b771a749a13c2f7c3d.png">
                                <div class="right">
                                    <h3>净化心境灵魂跳闸</h3>
                                    <p>丽江-虎跳峡、香格里拉3日自由行（含住宿）</p>
                                    <p><span>20人发团</span><span class="price"><span>¥</span>779</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="product-wrap">
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/home/tourism/929?mode=preview">
                            <div class="product">
                                <img src="http://images.simpletour.com/simpletour/images/wechat_home/5130eaf7b21087524eead69df894dbcd.png">
                                <div class="right">
                                    <h3>发生故事邂逅人生</h3>
                                    <p>丽江古城-大理古城3日自由行</p>
                                    <p><span>20人发团</span><span class="price"><span>¥</span>129</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="place">
                        泰国
                    </div>
                    <div class="product-wrap">
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/home/tourism/675?mode=preview">
                            <div class="product">
                                <img src="http://images.simpletour.com/simpletour/images/wechat_home/bb9b0b6ff60dd2ddd77c1406099b74ad.png">
                                <div class="right">
                                    <h3>纯净岛屿自在出海</h3>
                                    <p>月光岛、格兰岛出海1日自由行</p>
                                    <p><span>20人发团</span><span class="price"><span>¥</span>139</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="product-wrap">
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/home/tourism/590?mode=preview">
                            <div class="product">
                                <img src="http://images.simpletour.com/simpletour/images/wechat_home/487a7a540a7568b4442a8a2a8b017520.png">
                                <div class="right">
                                    <h3>一天逛完曼谷最地道市集</h3>
                                    <p>曼谷四大市场1日自由行</p>
                                    <p><span>20人发团</span><span class="price"><span>¥</span>299</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card">
                    <img class="title-img" src="/images/nationalDay/card-title.png">
                    <div class="buy_card">
                        <img src="http://images.simpletour.com/simpletour/images/wechat_home/a78c6ae2b2a4d7604320cd36061f070f.png">
                        <img src="http://images.simpletour.com/simpletour/images/wechat_home/e2523395f7e6923a35f5d8c1ac6decf6.png" class="bus">
                        <div class="tips">
                            <h3>十日行程 一卡在手</h3>
                            <p>简途通<span class="red">499</span></p>
                            <a href="#">点击购买</a>
                        </div>
                    </div>
                    <div class="products">
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/card/tourism/tourism/495">
                            <div class="single">
                                <img src="http://images.simpletour.com/simpletour/images/wechat_home/45d9dd9879eeb33dc3ec7df7ccf26164.png">
                                <div class="tips">
                                    <div class="tips-content">
                                        <h3>最四川:熊猫基地、三星堆1日往返</h3>
                                        <div class="cutline"></div>
                                        <p><span>原价:65元</span><span class="red">1日兑换</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/card/tourism/tourism/821">
                            <div class="single">
                                <img src="http://images.simpletour.com/simpletour/images/wechat_home/1af53e5b0d9bff335d54cb652f0153e4.png">
                                <div class="tips">
                                    <div class="tips-content">
                                        <h3>最经典:青城山、都江堰1日往返</h3>
                                        <div class="cutline"></div>
                                        <p><span>原价:58元</span><span class="red">1日兑换</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/card/tourism/tourism/135">
                            <div class="single">
                                <img src="http://images.simpletour.com/simpletour/images/wechat_home/de8eb037f4db21694344a4b8d66029ad.png">
                                <div class="tips">
                                    <div class="tips-content">
                                        <h3>最吃货:乐山1日往返</h3>
                                        <div class="cutline"></div>
                                        <p><span>原价:58元</span><span class="red">1日兑换</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/card/tourism/tourism/194">
                            <div class="single">
                                <img src="http://images.simpletour.com/simpletour/images/wechat_home/aedec19733f85e29d4c06cbd178eca17.png">
                                <div class="tips">
                                    <div class="tips-content">
                                        <h3>最值得:九寨沟3日往返</h3>
                                        <div class="cutline"></div>
                                        <p><span>原价:249元</span><span class="red">2日兑换</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/card/tourism/tourism/32">
                            <div class="single">
                                <img src="http://images.simpletour.com/simpletour/images/wechat_home/9f801f73c25827d1de67372dc29441db.png">
                                <div class="tips">
                                    <div class="tips-content">
                                        <h3>最回本:峨眉山2日往返</h3>
                                        <div class="cutline"></div>
                                        <p><span>原价:99元</span><span class="red">2日兑换</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/card/tourism/tourism/47">
                            <div class="single">
                                <img src="http://images.simpletour.com/simpletour/images/wechat_home/9c301abbb4e09c27f10b848b85caf34d.png">
                                <div class="tips">
                                    <div class="tips-content">
                                        <h3>最划算:稻城亚丁6日往返</h3>
                                        <div class="cutline"></div>
                                        <p><span>原价:689元</span><span class="red">10日兑换</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="presale">
                    <img src="/images/nationalDay/presale-title.png" class="title-img">
                    <div class="place">
                        四川
                    </div>
                    <div class="products">
                        <div class="double">
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/presell/batch/85">
                                <div class="double-item">
                                    <div class="tips"></div>
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/25e22b93c7c96a59b68f8237972cda32.png">
                                    <h3>人类星球的最后净土</h3>
                                    <p>成都-稻城亚丁6日自由行</p>
                                    <div class="price">
                                        <span>¥</span>598
                                    </div>
                                </div>
                            </a>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/presell/batch/86">
                                <div class="double-item">
                                    <div class="tips"></div>
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/0676746a651f1117b9ebc25b1341797e.png">
                                    <h3>多到你想象不到的色彩</h3>
                                    <p>成都-九寨沟、黄龙4日自由行</p>
                                    <div class="price">
                                        <span>¥</span>279
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="double">
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/presell/batch/87">
                                <div class="double-item">
                                    <div class="tips"></div>
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/b89afb5e681b4c93c8a072e710d82c95.png">
                                    <h3>混血儿的纯净世界</h3>
                                    <p>成都-毕棚沟2日自由行</p>
                                    <div class="price">
                                        <span>¥</span>138
                                    </div>
                                </div>
                            </a>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/presell/batch/88">
                                <div class="double-item">
                                    <div class="tips"></div>
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/2950fbfe93011d1ed59d1aeb989c231f.png">
                                    <h3>满眼青翠舒缓身心</h3>
                                    <p>都江堰、青城山1日自由行</p>
                                    <div class="price">
                                        <span>¥</span>45
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="double">
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/presell/batch/89">
                                <div class="double-item">
                                    <div class="tips"></div>
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/4287767b953b1014255fd9bd69d10568.png">
                                    <h3>树木云海排解烦恼</h3>
                                    <p>峨眉山2日自由行</p>
                                    <div class="price">
                                        <span>¥</span>89
                                    </div>
                                </div>
                            </a>
                            <div class="hidden">
                                <img src="http://images.simpletour.com/simpletour/images/wechat_home/4287767b953b1014255fd9bd69d10568.png">
                            </div>
                        </div>
                    </div>
                    <div class="place">
                        重庆
                    </div>
                    <div class="products">
                        <div class="double">
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/presell/batch/90">
                                <div class="double-item">
                                    <div class="tips"></div>
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/e0303b254bd80a89ccf357c917a60bdb.png">
                                    <h3>大自然的鬼斧神工</h3>
                                    <p>武隆1日自由行（含天坑地缝门票）</p>
                                    <div class="price">
                                        <span>¥</span>248
                                    </div>
                                </div>
                            </a>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/presell/batch/91">
                                <div class="double-item">
                                    <div class="tips"></div>
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/50ca96d7f5471e4060718e3acf593073.png">
                                    <h3>时间是最好的雕塑家</h3>
                                    <p>大足石刻1日自由行</p>
                                    <div class="price">
                                        <span>¥</span>58
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="place">
                        云南
                    </div>
                    <div class="products">
                        <div class="double">
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/presell/batch/92">
                                <div class="double-item">
                                    <div class="tips"></div>
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/f1474ae797aa78fc4c33bb42e2c78a35.png">
                                    <h3>跟着阳光在雪地跳舞</h3>
                                    <p>丽江-玉龙雪山1日自由行</p>
                                    <div class="price">
                                        <span>¥</span>19
                                    </div>
                                </div>
                            </a>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/presell/batch/93">
                                <div class="double-item">
                                    <div class="tips"></div>
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/6a4101da70bfa7f3824613472b2ddfe9.png">
                                    <h3>一个清洗灵魂的地方</h3>
                                    <p>丽江-虎跳峡-香格里拉3日自由行</p>
                                    <div class="price">
                                        <span>¥</span>99
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="double">
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/presell/batch/94">
                                <div class="double-item">
                                    <div class="tips"></div>
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/36212c731def345cf5836a4f08045453.png">
                                    <h3>在最美的青春邂逅你</h3>
                                    <p>丽江古城-大理古城3日自由行</p>
                                    <div class="price">
                                        <span>¥</span>99
                                    </div>
                                </div>
                            </a>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/presell/batch/95">
                                <div class="double-item">
                                    <div class="tips"></div>
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/6a73dde37cac8b72b89f485483018697.png">
                                    <h3>遗落洱海边的世外桃源</h3>
                                    <p>丽江古城-大理双廊2日自由行</p>
                                    <div class="price">
                                        <span>¥</span>89
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="place">
                        泰国
                    </div>
                    <div class="products">
                        <div class="double">
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/presell/batch/97">
                                <div class="double-item">
                                    <div class="tips"></div>
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/a76453c6aefbf5c40fd4fd6c417316f4.png">
                                    <h3>不把时间浪费在等待上</h3>
                                    <p>曼谷接送机</p>
                                    <div class="price">
                                        <span>¥</span>39
                                    </div>
                                </div>
                            </a>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/presell/batch/96">
                                <div class="double-item">
                                    <div class="tips"></div>
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/883565860759ae0491cece1ef664dd2d.png">
                                    <h3>一天抓住你眼中最美的曼谷</h3>
                                    <p>曼谷经典全景观光1日游</p>
                                    <div class="price">
                                        <span>¥</span>29
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="double">
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/presell/batch/98">
                                <div class="double-item">
                                    <div class="tips"></div>
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/3eab2be8f0d13325309417d92641cade.png">
                                    <h3>灯红酒绿的自在放松</h3>
                                    <p>曼谷-芭提雅2日往返自由行</p>
                                    <div class="price">
                                        <span>¥</span>109
                                    </div>
                                </div>
                            </a>
                            <a href="http://m.simpletour.com/mobile/gateway/wechat/presell/batch/99">
                                <div class="double-item">
                                    <div class="tips"></div>
                                    <img src="http://images.simpletour.com/simpletour/images/wechat_home/01a96d1ba04d7dc94e55fcb975c7dc58.png">
                                    <h3>走遍所有有故事的庙宇</h3>
                                    <p>曼谷-大城1日自由行</p>
                                    <div class="price">
                                        <span>¥</span>109
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/common/js/zepto.min.js"></script>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                };
        recalc();
        doc.getElementsByClassName('page-group')[0].style.visibility = 'visible';
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    $('.tabs div').click(function (e) {
        if(!$(this).hasClass('selected')){
            $('.tabs div').removeClass('selected');
            $(this).addClass('selected');
            $('.show').removeClass('transition').removeClass('show').removeClass('opacity');
            var $this = $(".switch ."+$(this).attr('data-href'));
            $this.addClass('show');
            $this[0].clientLeft;
            $this.addClass('opacity transition')
        }
    })
</script>
</body>
</html>
