<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/old/css/xlxs/xlxs.scss?__inline">
</head>
<body>
<div class="page-group" style="visibility: hidden">
    <div class="page page-current">
        <div class="page-content">
            <img src="/old/images/xlxs/banner.jpg" class="banner">
            <div class="recommend">
                <div class="item">
                    <div class="img-box">
                        <img src="http://images.simpletour.com/simpletour/images/app_tourism/a515637f4f8390245da4b456828c023b.jpg">
                        <div class="img-box-tips">
                            11月8日20:00开抢
                        </div>
                        <div class="img-box-name">
                            西岭雪山
                        </div>
                        <div class="img-box-footer">
                            2日往返滑雪直通车
                        </div>
                    </div>
                    <div class="item-footer">
                        <p>
                            <span class="red middle">抢购价</span><span class="red">￥</span><span class="red big">19.8</span>
                            <span class="l1">原价￥80</span>
                            <span class="red l2">仅20份</span>
                        </p>
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/presell/batch/113">
                            立即抢购
                        </a>
                    </div>
                </div>
                <div class="cutline">
                    <div class="left">
                        <div>我是线</div>
                        <p>我是点</p>
                    </div>
                    <div class="middle">
                        景区直通车+套餐
                    </div>
                    <div class="right">
                        <div>我是线</div>
                        <p>我是点</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img-box">
                        <img src="http://images.simpletour.com/simpletour/images/app_resource/e62d8cf55d816459a705e21b26613ff2.jpg">
                        <div class="img-box-tips">
                            11月9日20:00开抢
                        </div>
                        <div class="img-box-name black">
                            西岭雪山
                        </div>
                        <div class="img-box-footer">
                            西岭雪山1日往返滑雪直通车+滑雪场门票+两索道往返票
                        </div>
                    </div>
                    <div class="item-footer">
                        <p>
                            <span class="red middle">抢购价</span><span class="red">￥</span><span class="red big">168</span>
                            <span class="l1">原价￥248</span>
                            <span class="red l2">仅8份</span>
                        </p>
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/presell/batch/114">
                            立即抢购
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="img-box">
                        <img src="http://images.simpletour.com/simpletour/images/app_resource/34102fb7deb87ee285e269f04cf199cd.jpg">
                        <div class="img-box-tips">
                            11月10日20:00开抢
                        </div>
                        <div class="img-box-name">
                            西岭雪山&nbsp;&nbsp;&nbsp;&nbsp;花水湾
                        </div>
                        <div class="img-box-footer">
                            2日往返直通车+温泉+西岭滑雪场门票+两索道往返票
                        </div>
                    </div>
                    <div class="item-footer">
                        <p>
                            <span class="red middle">抢购价</span><span class="red">￥</span><span class="red big">336</span>
                            <span class="l1">原价￥416</span>
                            <span class="red l2">仅8份</span>
                        </p>
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/presell/batch/115">
                            立即抢购
                        </a>
                    </div>
                </div>
            </div>
            <div class="tabs skiing">
                <div class="skiing">滑雪</div>
                <div class="hotspring">温泉</div>
                <div class="both">滑雪+温泉</div>
                <div class="placeholder skiing">

                </div>
            </div>
            <div class="skiing active group">
                <img src="/old/images/xlxs/skiing.jpg" class="banner">
                <div class="cutline">
                    <div class="left">
                        <div>我是线</div>
                        <p>我是点</p>
                    </div>
                    <div class="middle">
                        景区直通车
                    </div>
                    <div class="right">
                        <div>我是线</div>
                        <p>我是点</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img-box">
                        <img src="http://images.simpletour.com/simpletour/images/app_resource/0742ca0ac46b66c36622f318bae4aa74.jpg">
                        <div class="img-box-flag">
                            立减5元
                        </div>
                        <div class="img-box-name">
                            西岭雪山
                        </div>
                        <div class="img-box-footer">
                            1日往返滑雪直通车
                        </div>
                    </div>
                    <div class="item-footer">
                        <p>
                            <span class="red middle">优惠价</span><span class="red">￥</span><span class="red big">75</span>
                            <span class="l1">原价￥80</span>
                        </p>
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/home/tourism/995?mode=preview">
                            立即购买
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="img-box">
                        <img src="http://images.simpletour.com/simpletour/images/app_resource/bda708ea8454ab29131f29dad954937b.jpg">
                        <div class="img-box-flag">
                            立减5元
                        </div>
                        <div class="img-box-name">
                            西岭雪山
                        </div>
                        <div class="img-box-footer">
                            2日往返滑雪直通车
                        </div>
                    </div>
                    <div class="item-footer">
                        <p>
                            <span class="red middle">优惠价</span><span class="red">￥</span><span class="red big">75</span>
                            <span class="l1">原价￥80</span>
                        </p>
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/home/tourism/996?mode=preview">
                            立即购买
                        </a>
                    </div>
                </div>
                <div class="cutline">
                    <div class="left">
                        <div>我是线</div>
                        <p>我是点</p>
                    </div>
                    <div class="middle">
                        景区直通车+套餐
                    </div>
                    <div class="right">
                        <div>我是线</div>
                        <p>我是点</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img-box">
                        <img src="http://images.simpletour.com/simpletour/images/app_resource/e91dbbd3ba04d873ff2c094439cce3df.jpg">
                        <div class="img-box-flag">
                            立减10元
                        </div>
                        <div class="img-box-name black">
                            西岭雪山
                        </div>
                        <div class="img-box-footer">
                            1日往返滑雪直通车+滑雪场门票+两索道往返票
                        </div>
                    </div>
                    <div class="item-footer">
                        <p>
                            <span class="red middle">优惠价</span><span class="red">￥</span><span class="red big">238</span>
                            <span class="l1">原价￥248</span>
                        </p>
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/home/tourism/1007?mode=preview">
                            立即购买
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="img-box">
                        <img src="http://images.simpletour.com/simpletour/images/app_resource/e62d8cf55d816459a705e21b26613ff2.jpg">
                        <div class="img-box-flag">
                            立减10元
                        </div>
                        <div class="img-box-name black">
                            西岭雪山
                        </div>
                        <div class="img-box-footer">
                            2日往返滑雪直通车+滑雪场门票+两索道往返票
                        </div>
                    </div>
                    <div class="item-footer">
                        <p>
                            <span class="red middle">优惠价</span><span class="red">￥</span><span class="red big">238</span>
                            <span class="l1">原价￥248</span>
                        </p>
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/home/tourism/1008?mode=preview">
                            立即购买
                        </a>
                    </div>
                </div>
                <div class="skiing-footer">
                    <img src="/old/images/xlxs/skiing-footer.jpg">
                    <div class="button-wrapper">
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/activity/autumn">详情请戳我</a>
                    </div>
                </div>
            </div>
            <div class="hotspring group">
                <img src="/old/images/xlxs/hotspring.jpg" class="banner">
                <div class="cutline">
                    <div class="left">
                        <div>我是线</div>
                        <p>我是点</p>
                    </div>
                    <div class="middle">
                        景区直通车
                    </div>
                    <div class="right">
                        <div>我是线</div>
                        <p>我是点</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img-box">
                        <img src="http://images.simpletour.com/simpletour/images/app_resource/ebb45d187ebf28ec40412af2b1ef15d9.jpg">
                        <div class="img-box-flag">
                            立减5元
                        </div>
                        <div class="img-box-name">
                            花水湾
                        </div>
                        <div class="img-box-footer">
                            1日往返休闲直通车
                        </div>
                    </div>
                    <div class="item-footer">
                        <p>
                            <span class="red middle">优惠价</span><span class="red">￥</span><span class="red big">49</span>
                            <span class="l1">原价￥54</span>
                        </p>
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/home/tourism/999?mode=preview">
                            立即购买
                        </a>
                    </div>
                </div>
                <div class="cutline">
                    <div class="left">
                        <div>我是线</div>
                        <p>我是点</p>
                    </div>
                    <div class="middle">
                        景区直通车+套餐
                    </div>
                    <div class="right">
                        <div>我是线</div>
                        <p>我是点</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img-box">
                        <img src="http://images.simpletour.com/simpletour/images/app_resource/fe4789bb1fc426d914849c1637f39a2f.jpg">
                        <div class="img-box-flag">
                            立减13元
                        </div>
                        <div class="img-box-name">
                            花水湾
                        </div>
                        <div class="img-box-footer">
                            1日往返休闲直通车+温泉票
                        </div>
                    </div>
                    <div class="item-footer">
                        <p>
                            <span class="red middle">优惠价</span><span class="red">￥</span><span class="red big">209</span>
                            <span class="l1">原价￥222</span>
                        </p>
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/home/tourism/1013?mode=preview">
                            立即购买
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="img-box">
                        <img src="http://images.simpletour.com/simpletour/images/app_resource/e0dc41eea8981743ed0f402517c74ba1.jpg">
                        <div class="img-box-flag">
                            立减8元
                        </div>
                        <div class="img-box-name">
                            花水湾
                        </div>
                        <div class="img-box-footer">
                            1日单程休闲直通车+温泉票
                        </div>
                    </div>
                    <div class="item-footer">
                        <p>
                            <span class="red middle">优惠价</span><span class="red">￥</span><span class="red big">188</span>
                            <span class="l1">原价￥196</span>
                        </p>
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/home/tourism/1018?mode=preview">
                            立即购买
                        </a>
                    </div>
                </div>
                <div class="skiing-footer">
                    <img src="/old/images/xlxs/hotspring-footer.jpg">
                    <div class="button-wrapper">
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/activity/autumn">详情请戳我</a>
                    </div>
                </div>
            </div>
            <div class="both group">
                <img src="/old/images/xlxs/both.jpg" class="banner">
                <div class="cutline">
                    <div class="left">
                        <div>我是线</div>
                        <p>我是点</p>
                    </div>
                    <div class="middle">
                        景区直通车
                    </div>
                    <div class="right">
                        <div>我是线</div>
                        <p>我是点</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img-box">
                        <img src="http://images.simpletour.com/simpletour/images/app_product/88b60813d223dc82f82ef4a20eaf47e2.jpg">
                        <div class="img-box-flag">
                            立减11元
                        </div>
                        <div class="img-box-name">
                            西岭雪山&nbsp;&nbsp;&nbsp;&nbsp;花水湾
                        </div>
                        <div class="img-box-footer">
                            2日往返直通车
                        </div>
                    </div>
                    <div class="item-footer">
                        <p>
                            <span class="red middle">优惠价</span><span class="red">￥</span><span class="red big">69</span>
                            <span class="l1">原价￥80</span>
                        </p>
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/home/tourism/997?mode=preview">
                            立即购买
                        </a>
                    </div>
                </div>
                <div class="cutline">
                    <div class="left">
                        <div>我是线</div>
                        <p>我是点</p>
                    </div>
                    <div class="middle">
                        景区直通车+套餐
                    </div>
                    <div class="right">
                        <div>我是线</div>
                        <p>我是点</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img-box">
                        <img src="http://images.simpletour.com/simpletour/images/app_product/34fea96c141968f1eda0038c808f5206.jpg">
                        <div class="img-box-flag">
                            立减18元
                        </div>
                        <div class="img-box-name">
                            西岭雪山&nbsp;&nbsp;&nbsp;&nbsp;花水湾
                        </div>
                        <div class="img-box-footer">
                            2日往返直通车+温泉+西岭滑雪场门票+两索道往返票
                        </div>
                    </div>
                    <div class="item-footer">
                        <p>
                            <span class="red middle">优惠价</span><span class="red">￥</span><span class="red big">398</span>
                            <span class="l1">原价￥416</span>
                        </p>
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/home/tourism/1011?mode=preview">
                            立即购买
                        </a>
                    </div>
                </div>
                <div class="skiing-footer">
                    <img src="/old/images/xlxs/both-footer.jpg">
                    <div class="button-wrapper">
                        <a href="http://m.simpletour.com/mobile/gateway/wechat/activity/autumn">详情请戳我</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/old/common/js/zepto.min.js"></script>
<script>
    (function (doc, win) {

        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                };
        recalc();
        doc.getElementsByClassName('page-group')[0].style.visibility = 'visible';
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
<script>
    $(document).ready(function () {
        var $div = $('.tabs').find('div').not('.placeholder');
        $div.click(function (e) {
            $(this).parents('.tabs').removeClass('skiing both hotspring').addClass($(this).attr('class'));
            $('.placeholder').removeClass('skiing both hotspring');
            $('.placeholder').addClass($(this).attr('class'));
            $('.group').removeClass('active');
            $('.group').filter('.'+$(this).attr('class')).addClass('active');
        })
    })
</script>
</body>
</html>
