<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/coupon/products.scss?__inline">
</head>
<body>
<div class="page-group" style="visibility: hidden">
    <div class="page page-current">
        <div class="page-content">
            <div class="head-img">
                <img src="/images/coupon/head-img.png" alt="网不好,页面的头图没有加载进来">
            </div>
            <div class="product-gp" style="margin-top: -6rem">
                <div class="title">
                    <img src="/images/coupon/coupon1.png" alt="">
                </div>
                <div class="item">
                    成都-川北草原3日往返车+住(高级)+票
                </div>
                <div class="item">
                    成都-川北草原3日往返车+住(一般)+票
                </div>
            </div>

            <div class="product-gp">
                <div class="title">
                    <img src="/images/coupon/coupon2.png" alt="">
                </div>
                <div class="item">
                    成都-乐山峨眉山2日往返车位+住宿
                </div>
                <div class="item">
                    成都-乐山峨眉山2日往返车位+峨门票
                </div>
            </div>

            <div class="product-gp">
                <div class="title">
                    <img src="/images/coupon/coupon3.png" alt="">
                </div>
                <div class="item">
                    成都-九寨沟3日自由行套餐（含住宿）
                </div>
                <div class="item">
                    成都-九寨沟/黄龙4日自由行套餐（含住宿）
                </div>
                <div class="item">
                    成都-大英死海1日往返车位+票+餐
                </div>
                <div class="item">
                    成都-大英死海1日往返车位+票
                </div>
                <div class="item">
                    成都-青城山、都江堰1日往返车位+门票
                </div>
                <div class="item">
                    成都-青城山往返车位+青城山票
                </div>
                <div class="item">
                    成都-都江堰往返车位+都江堰票
                </div>
            </div>

            <div class="product-gp">
                <div class="title">
                    <img src="/images/coupon/coupon4.png" alt="">
                </div>
                <div class="item">
                    成都-乐山1日往返
                </div>
                <div class="item">
                    成都-峨眉山1日往返车位
                </div>
                <div class="item">
                    成都-峨眉山2日往返车位
                </div>
                <div class="item">
                    成都-乐山、峨眉山2日往返车位
                </div>
                <div class="item">
                    成都-九寨沟1日单程车位
                </div>
                <div class="item">
                    九寨沟-成都1日单程车位
                </div>
                <div class="item">
                    成都-九寨沟3日往返车位
                </div>
                <div class="item">
                    成都-九寨沟、黄龙4日往返车位
                </div>
                <div class="item">
                    成都-九寨沟、黄龙、草原5日往返车位
                </div>
                <div class="item">
                    川主寺-成都1日单程车位
                </div>
                <div class="item">
                    成都-川北草原3日往返车位
                </div>
                <div class="item">
                    成都-明月村1日往返车位（含观光车）
                </div>
                <div class="item">
                    成都-碧峰峡1日往返车位
                </div>
                <div class="item">
                    成都-碧峰峡-上里古镇2日往返车位
                </div>
                <div class="item">
                    成都-明月村1日往返车位+观光车
                </div>
                <div class="item">
                    成都-大英死海1日往返车位
                </div>

            </div>

            <div class="bottom-logo">
                <img src="/images/coupon/logo.png" alt="">
            </div>
        </div>
    </div>
</div>
<script src="/common/js/zepto.min.js"></script>
<script src="/common/common/js/base.js"></script>
<script src="/common/js/scroll.js"></script>
<script>
    (function (doc, win) {

        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 375) + "px !important;}"));
                };
        recalc();
        doc.getElementsByClassName('page-group')[0].style.visibility = 'visible';
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    $(document).ready(function() {
//        $.confirm({title:'我杨明昆永不背弃',detail:false,yes:'X'})
    });
</script>
</body>
</html>
