@import "/old/common/css/base";
$baseFontSize : 46.875px;
.page-content{
  background-color: #4346A5;
}
img{
  border:0;
}
img.header{
  width: 100%;
}
.product{
  width: rem(680px);
  height: rem(860px);
  background-color: #101E6B;
  border-radius: rem(10px);
  box-sizing: border-box;
  padding-top: rem(4px);
  margin: rem(20px) auto 0;
  img{
    border-top-left-radius: rem(6px);
    border-top-right-radius: rem(6px);
    width: rem(672px);
    height: rem(242px);
    display: block;
    margin: 0 auto;
  }
  img.text{
    border-radius: 0;
    height: auto;
    width: rem(561px);
    margin-bottom: rem(40px);
  }
  p{
    font-size: rem(30px);
    color:white;
    text-align: center;
    margin-bottom: rem(40px);
    span{
      color: #FF6344;
    }
  }
  div.first{
    background-color:#FFFC00;
    color:#101E6B;
    font-size: rem(26px);
    width: rem(672px);
    margin: 0 auto;
    box-sizing: border-box;
    padding: rem(16px) rem(15px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  div.second{
    @include displayflex;
    @include flexflowRow(row,horizontal);
    width: rem(672px);
    margin: 0 auto rem(30px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    div{
      box-sizing: border-box;
      padding: rem(16px) rem(15px);
      color:white;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: rem(26px);
    }
    div:first-child{
      width:rem(250px);
      background-color: #FF6344;
      border-bottom-left-radius: rem(6px);
    }
    div:last-child{
      @include flex(1);
      background-color: #00B7EE;
      border-bottom-right-radius: rem(6px);
    }
  }
  div.error{
    color: #FF6344;
    font-size: rem(30px);
    text-indent: rem(64px);
    margin: rem(6px) 0;
    visibility: hidden;
  }
  div.error.visible{
    visibility: visible;
  }
  div.input-group{
    padding: 0 rem(40px);
    &:after{
      display: block;
      visibility: hidden;
      clear: both;
      content: '';
    }
    input::-webkit-input-placeholder {
      color:white !important;
    }
    input{
      float: left;
      background-color: #B4B9FF;
      outline: none;
      width: rem(380px);
      color: white;
      height:rem(70px);
      margin-right: rem(20px);
      border-radius: rem(10px);
      box-sizing: border-box;
      padding-left: rem(24px);
      border:none;
    }
    button{
      float: left;
      outline: none;
      width: rem(200px);
      height: rem(70px);
      border:none;
      background-color: #0FC346;
      color:white;
      border-radius: rem(10px);
      &:active{
        background-color: #2AEB85;
      }
    }
  }
}
.product.invite{
  height: rem(704px);
  .buttons{
    text-align: center;
    margin: rem(30px) 0;
    button{
      width: rem(258px);
      height: rem(70px);
      background-color: #0FC346;
      font-size: rem(30px);
      color: white;
      border:none;
      border-radius: rem(10px);
      &:active{
        background-color:#2AEB85;
      }
    }
    button+button{
      margin-left: rem(60px);
    }
  }
}
.product.invite.end{
  height: rem(616px);
  img.text{
    width: rem(362px);
  }
}
div.table{
  width: rem(672px);
  margin: rem(44px) auto;
  background-color: #101E6B;
  border-radius: rem(10px);
  padding: rem(4px);
  img{
    width: rem(340px);
    display: block;
    margin: rem(10px) auto;
  }
  .buttons{
    text-align: center;
    margin: rem(30px) 0;
    button{
      width: rem(200px);
      height: rem(70px);
      background-color: #0FC346;
      font-size: rem(30px);
      color: white;
      border:none;
      border-radius: rem(10px);
      &:active{
        background-color:#2AEB85;
      }
    }
    button+button{
      margin-left: rem(110px);
    }
  }
  .table-content{
    border-radius: rem(6px);
    background-color: #5C64D2;
  }
  .table-title,.table-item{
    height: rem(74px);
    line-height: rem(74px);
    color:white;
    font-size: rem(34px);
    @include displayflex;
    @include flexflowRow(row,horizontal);
    div{
      //color:#B4B9FF;
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding:0 rem(20px);
      height: rem(70px);
      line-height: rem(70px);
      color:white;
      font-size: rem(34px);
      //color:#101E6B;
      //font-size: rem(28px);
    }
    div:nth-child(1){
      text-align: left;
      width: rem(267px);
      margin-right: rem(4px);
    }
    div:nth-child(2){
      width: rem(199px);
      padding: 0;
      margin-right: rem(4px);
    }
    div:nth-child(3){
      width: rem(202px);
    }
  }
  .table-item{
    div{
      color:#101E6B;
      font-size: rem(28px);
      background-color: #B4B9FF;
    }
    &:last-child{
      border-bottom-left-radius:rem(6px);
      border-bottom-right-radius: rem(6px);
    }
  }
}
.tips{
  margin: rem(80px) rem(35px) rem(120px);
  .tips-title{
    height: rem(56px);
    text-align: center;
    font-size: rem(34px);
    line-height: rem(56px);
    color: white;
    background-color: #5C64D2;
    border-radius: rem(10px);
    margin-bottom: rem(32px);
  }
  ul{
    list-style: none;
  }
  li{
    font-size: rem(22px);
    line-height: 1rem;
    color:white;
    span{
      color: #FFFC00;
    }
  }
}
img.logo{
  width:rem(431px);
  display: block;
  margin: 0 auto rem(100px);
}