<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/flavor/flavor.scss?__inline" media="screen" title="no_title" charset="utf-8">
</head>
<body style="visibility: hidden;">
<div class="wrap">
    <div class="act_header">
        <img src="https://images.simpletour.com/activity/flavor/header_bg@3x.png" alt=""/>
    </div>
    <div class="act_content">
        <img class="coupon" data-href="" src="https://images.simpletour.com/activity/flavor/coupon_bg@3x.png" alt=""/>
        <div class="spots">
            <ul class="tabs">
                <li class="sc current">四川年味</li>
                <li class="cq">重庆年味</li>
                <li class="yn">云南年味</li>
            </ul>
            <ul class="panels">
                <li class="sc current">
                    <img src="https://images.simpletour.com/activity/flavor/sc_spots@3x.png" alt=""/>
                </li>
                <li class="cq">
                    <img src="https://images.simpletour.com/activity/flavor/cq_spots@3x.png" alt=""/>
                </li>
                <li class="yn">
                    <img src="https://images.simpletour.com/activity/flavor/yn_spots@3x.png" alt=""/>
                </li>
            </ul>
        </div>
        <div class="products">
            <img class="title" src="https://images.simpletour.com/activity/flavor/tourism_title@3x.png" alt=""/>
            <ul class="tabs">
                <li class="sc current">四川年味行</li>
                <li class="cq">重庆年味行</li>
                <li class="yn">云南年味行</li>
            </ul>
            <ul class="panels">
                <li class="sc current">
                    <div class="product">
                        <div class="pup">
                            <img src="https://images.simpletour.com/activity/flavor/product_jzg.png" alt=""/>
                           
                        </div>
                        <div class="pdown">
                            <div class="left">
                                <div class="name">九寨沟3日奢华游（五星住宿，含温泉、自助早餐、晚餐）</div>
                                <div class="price">¥859</div>
                            </div>
                            <div class="right">
                                <!--<#if requestByApp=='true' || type == 'app'>-->
                                    <!--<#if goodsView.goodsType == 'APP_TOURISM'>-->
                                        <!--<a href="simpletour://app/tourismPackage?id=464">立即购买</a>-->
                                    <!--</#if>-->
                                    <!--<#else>-->
                                        <a href="http://m.simpletour.com/mobile/gateway/wechat/tourism/detail/464">立即购买</a>
                                <!--</#if>-->
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="pup">
                            <img src="https://images.simpletour.com/activity/flavor/product_ems.png" alt=""/>
                           
                        </div>
                        <div class="pdown">
                            <div class="left">
                                <div class="name">乐山、峨眉山2日无忧套餐（含住、峨眉＆乐山大佛门票）</div>
                                <div class="price">¥455</div>
                            </div>
                            <div class="right">
                                <!--<#if requestByApp=='true' || type == 'app'>-->
                                    <!--<#if goodsView.goodsType == 'APP_TOURISM'>-->
                                        <!--<a href="simpletour://app/tourismPackage?id=201">立即购买</a>-->
                                    <!--</#if>-->
                                    <!--<#else>-->
                                        <a href="http://m.simpletour.com/mobile/gateway/wechat/tourism/detail/201">立即购买</a>
                                <!--</#if>-->
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="pup">
                            <img src="https://images.simpletour.com/activity/flavor/product_lr.png" alt=""/>
                           
                        </div>
                        <div class="pdown">
                            <div class="left">
                                <div class="name">【新年特惠】秘制香肠腊肉年货礼盒（2.5kg）</div>
                                <div class="price">¥178</div>
                            </div>
                            <div class="right">
                                <!--<#if requestByApp=='true' || type == 'app'>-->
                                    <!--<#if goodsView.goodsType == 'APP_TOURISM'>-->
                                        <!--<a href="simpletour://app/gift?id=359">立即购买</a>-->
                                    <!--</#if>-->
                                    <!--<#else>-->
                                        <a href="http://m.simpletour.com/mobile/gateway/wechat/product/scenic/detail/354">立即购买</a>
                                <!--</#if>-->
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="pup">
                            <img src="https://images.simpletour.com/activity/flavor/product_hymnnf.png" alt=""/>
                           
                        </div>
                        <div class="pdown">
                            <div class="left">
                                <div class="name">红原牦牛奶粉-罐装1听（454g/罐）</div>
                                <div class="price">¥298</div>
                            </div>
                            <div class="right">
                                <!--<#if requestByApp=='true' || type == 'app'>-->
                                    <!--<#if goodsView.goodsType == 'APP_TOURISM'>-->
                                        <!--<a href="simpletour://app/gift?id=333">立即购买</a>-->
                                    <!--</#if>-->
                                    <!--<#else>-->
                                        <a href="http://m.simpletour.com/mobile/gateway/wechat/product/scenic/detail/310">立即购买</a>
                                <!--</#if>-->
                            </div>
                        </div>
                    </div>
                </li>
                <li class="cq">
                    <div class="product">
                        <div class="pup">
                            <img src="https://images.simpletour.com/activity/flavor/product_jfs.png" alt=""/>
                           
                        </div>
                        <div class="pdown">
                            <div class="left">
                                <div class="name">金佛山自由畅玩2日游（天星小镇赏雪泡温泉）</div>
                                <div class="price">¥264</div>
                            </div>
                            <div class="right">
                                <!--<#if requestByApp=='true' || type == 'app'>-->
                                <!--<#if goodsView.goodsType == 'APP_TOURISM'>-->
                                <!--<a href="simpletour://app/tourismPackage?id=498">立即购买</a>-->
                                <!--</#if>-->
                                <!--<#else>-->
                                <a href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/498">立即购买</a>
                                <!--</#if>-->
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="pup">
                            <img src="https://images.simpletour.com/activity/flavor/product_wl.png" alt=""/>
                           
                        </div>
                        <div class="pdown">
                            <div class="left">
                                <div class="name">重庆-武隆2日往返套餐（含舒适住宿+武隆3景点仙天地门票）</div>
                                <div class="price">¥390</div>
                            </div>
                            <div class="right">
                                <!--<#if requestByApp=='true' || type == 'app'>-->
                                <!--<#if goodsView.goodsType == 'APP_TOURISM'>-->
                                <!--<a href="simpletour://app/tourismPackage?id=240">立即购买</a>-->
                                <!--</#if>-->
                                <!--<#else>-->
                                <a href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/240">立即购买</a>
                                <!--</#if>-->
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="pup">
                            <img src="https://images.simpletour.com/activity/flavor/product_wltk.png" alt=""/>
                           
                        </div>
                        <div class="pdown">
                            <div class="left">
                                <div class="name">重庆-武隆1日往返自由行套餐（含天坑、地缝门票）</div>
                                <div class="price">¥255</div>
                            </div>
                            <div class="right">
                                <!--<#if requestByApp=='true' || type == 'app'>-->
                                <!--<#if goodsView.goodsType == 'APP_TOURISM'>-->
                                <!--<a href="simpletour://app/tourismPackage?id=236">立即购买</a>-->
                                <!--</#if>-->
                                <!--<#else>-->
                                <a href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/236">立即购买</a>
                                <!--</#if>-->
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="pup">
                            <img src="https://images.simpletour.com/activity/flavor/product_hg.png" alt=""/>
                           
                        </div>
                        <div class="pdown">
                            <div class="left">
                                <div class="name">重庆-野焰音乐花园火锅自助</div>
                                <div class="price">¥68</div>
                            </div>
                            <div class="right">
                                <!--<#if requestByApp=='true' || type == 'app'>-->
                                <!--<#if goodsView.goodsType == 'APP_TOURISM'>-->
                                <!--<a href="simpletour://app/catering?id=363">立即购买</a>-->
                                <!--</#if>-->
                                <!--<#else>-->
                                <a href="https://m.simpletour.com/mobile/gateway/wechat/resource/catering/363">立即购买</a>
                                <!--</#if>-->
                            </div>
                        </div>
                    </div>
                </li>
                <li class="yn">
                    <div class="product">
                        <div class="pup">
                            <img src="https://images.simpletour.com/activity/flavor/product_lgh.png" alt=""/>
                           
                        </div>
                        <div class="pdown">
                            <div class="left">
                                <div class="name">丽江古城-泸沽湖2日往返畅玩套餐（含德克士早餐+舒适住宿+云巴士美味体验包</div>
                                <div class="price">¥199</div>
                            </div>
                            <div class="right">
                                <!--<#if requestByApp=='true' || type == 'app'>-->
                                <!--<#if goodsView.goodsType == 'APP_TOURISM'>-->
                                <!--<a href="simpletour://app/tourismPackage?id=605">立即购买</a>-->
                                <!--</#if>-->
                                <!--<#else>-->
                                <a href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/605">立即购买</a>
                                <!--</#if>-->
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="pup">
                            <img src="https://images.simpletour.com/activity/flavor/product_ylxs.png" alt=""/>
                        </div>
                        <div class="pdown">
                            <div class="left">
                                <div class="name">丽江-玉龙雪山1日舒心自由行（含进山票、大索道、环保车、雪山三宝、云巴士午餐包）</div>
                                <div class="price">¥549</div>
                            </div>
                            <div class="right">
                                <!--<#if requestByApp=='true' || type == 'app'>-->
                                <!--<#if goodsView.goodsType == 'APP_TOURISM'>-->
                                <!--<a href="simpletour://app/tourismPackage?id=506">立即购买</a>-->
                                <!--</#if>-->
                                <!--<#else>-->
                                <a href="http://m.simpletour.com/mobile/gateway/wechat/tourism/detail/596">立即购买</a>
                                <!--</#if>-->
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="pup">
                            <img src="https://images.simpletour.com/activity/flavor/product_xgll.png" alt=""/>
                        </div>
                        <div class="pdown">
                            <div class="left">
                                <div class="name">丽江-虎跳峡、香格里拉2日省心套餐（含虎跳峡门票、舒适住宿、德克士早餐、云巴士美味体验包）</div>
                                <div class="price">¥298</div>
                            </div>
                            <div class="right">
                                <!--<#if requestByApp=='true' || type == 'app'>-->
                                <!--<#if goodsView.goodsType == 'APP_TOURISM'>-->
                                <!--<a href="simpletour://app/tourismPackage?id=599">立即购买</a>-->
                                <!--</#if>-->
                                <!--<#else>-->
                                <a href="http://m.simpletour.com/mobile/gateway/wechat/tourism/detail/599">立即购买</a>
                                <!--</#if>-->
                            </div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="pup">
                            <img src="https://images.simpletour.com/activity/flavor/product_dl.png" alt=""/>
                           
                        </div>
                        <div class="pdown">
                            <div class="left">
                                <div class="name">丽江古城-大理古城2日特色体验套餐（含特色客栈住宿、德克士早餐、云巴士美味体验包</div>
                                <div class="price">¥278</div>
                            </div>
                            <div class="right">
                                <!--<#if requestByApp=='true' || type == 'app'>-->
                                <!--<#if goodsView.goodsType == 'APP_TOURISM'>-->
                                <!--<a href="simpletour://app/tourismPackage?id=603">立即购买</a>-->
                                <!--</#if>-->
                                <!--<#else>-->
                                <a href="http://m.simpletour.com/mobile/gateway/wechat/tourism/detail/603">立即购买</a>
                                <!--</#if>-->
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <img class="get_coupon" src="https://images.simpletour.com/activity/flavor/getCoupon@3x.png" alt=""/>
        <div class="rule">
            <div class="rule-title">
                <span class="line"></span>
                <span class="title">活动规则</span>
                <span class="line"></span>
            </div>
            <div class="rule-content">
                1、活动时间：2017.1.12-2017.2.28<br/>
                2、优惠券使用截止时间2017年2月28日<br/>
                3、本次活动优惠券仅限于本次活动参与产品使用<br/>
                4、本活动最终解释权归简途旅行所有
            </div>
        </div>
    </div>
</div>
<div style="display:none">
    <img src="https://images.simpletour.com/activity/flavor/sc_tab_selected@3x.png" alt=""/>
    <img src="https://images.simpletour.com/activity/flavor/cq_tab_selected@3x.png" alt=""/>
    <img src="https://images.simpletour.com/activity/flavor/yn_tab_selected@3x.png" alt=""/>
    <img src="https://images.simpletour.com/activity/flavor/scTour_tab_selected@3x.png" alt=""/>
    <img src="https://images.simpletour.com/activity/flavor/cqTour_tab_selected@3x.png" alt=""/>
    <img src="https://images.simpletour.com/activity/flavor/ynTour_tab_selected@3x.png" alt=""/>
    <img src="https://images.simpletour.com/activity/flavor/cq_spots@3x.png" alt=""/>
    <img src="https://images.simpletour.com/activity/flavor/yn_spots@3x.png" alt=""/>
</div>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script type="text/javascript" src="/common/js/base.js"></script>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                };
        recalc();
        document.body.style.visibility = 'visible';
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
        var a = document.getElementsByTagName('a');
        for (var i = 0; i < a.length; i++) {
            a[i].addEventListener('touchstart', function () {
            }, false);
        }
    })(document, window);
    $(document).ready(function () {
        var $stabs = $('.spots .tabs li');
        var $ptabs = $('.products .tabs li');
        var $spanels = $('.spots .panels li');
        var $ppanels = $('.products .panels li');
        if (window.sessionStorage){
            var spotIndex = sessionStorage.getItem("spotIndex");
            var productIndex = sessionStorage.getItem("productIndex");
            if(spotIndex){
                $stabs.removeClass('current').eq(spotIndex).addClass('current');
                $spanels.removeClass('current').eq(spotIndex).addClass('current');
            }
            if(productIndex){
                $ptabs.removeClass('current').eq(productIndex).addClass('current');
                $ppanels.removeClass('current').eq(productIndex).addClass('current');
            }
        }else{
            alert('您的浏览器不支持sessionStorage.');
        }
        $stabs.click(function(e){
            e.preventDefault();
            var $this = $(this);
            $this.siblings('li').removeClass('current');
            $this.addClass('current');
            $spanels.removeClass('current').eq($this.index()).addClass('current');
            if(window.sessionStorage){
                sessionStorage.setItem("spotIndex",$this.index());
            }
        });
        $ptabs.click(function(e){
            e.preventDefault();
            var $this = $(this);
            $this.siblings('li').removeClass('current');
            $this.addClass('current');
            $ppanels.removeClass('current').eq($this.index()).addClass('current');
            if(window.sessionStorage){
                sessionStorage.setItem("productIndex",$this.index());
            }
        });
        $('.product').on('click', function(e) {
            e.preventDefault();
            e.stopPropagation();
            location.href = $(this).find('a').attr('href');
        })
    });
</script>
</body>
</html>