<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/old/css/complain/report.scss?__inline">
</head>
<body>
<div class="page-group" style="visibility: hidden">
    <div class="page page-current">
        <div class="page-content">
            <div class="header-wrapper">
                <img src="https://images.simpletour.com/activity/complain/report_header.png" alt="">
            </div>
            <div class="report-content">
                <div class="input-group">
                    <label for="">昵称</label>
                    <input type="text" name="nickName" value=""/>
                </div>

                <div class="input-group">
                    <label for="">手机号</label>
                    <input type="tel" name="mobile" value=""/>
                </div>

                <div class="input-group">
                    <label for="">微信号</label>
                    <input type="text" name="wechat" value=""/>
                </div>
                <div class="tips">*请填写微信号,而不是微信昵称</div>
                
                <h5>您对简途旅行APP以及微站的使用建议</h5>
                <textarea name="advise" id="" cols="30" rows="10"></textarea>

                <h5>图片留证</h5>
                <div id="imglist" class="photo-wrapper">
                    <img style="position: absolute;top:0;left: 0;width: 100%;height:100%" />
                    <input type="file" style="width: 100%;height: 100%;opacity: 0"  id="file" class="photo_wrapper" accept="image/jpeg,image/gif,image/png" capture="camera">
                </div>

                <div class="submit">
                    <img src="https://images.simpletour.com/activity/complain/submit.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="confirm-msg" >
    <div class="confirm-msg-content">
        <img src="https://images.simpletour.com/activity/complain/modal.png" alt="">
    </div>
    <div class="confirm-msg-btns">
        <div>
            <img src="https://images.simpletour.com/activity/complain/modal_view.png" alt="">
        </div>
        <div>
            <img src="https://images.simpletour.com/activity/complain/modal_ok.png" alt="">
        </div>
    </div>
</div>
<div class="confirm-bg"></div>
<img style="display: none" src="https://images.simpletour.com/activity/complain/modal.png" alt="">
<img style="display: none" src="https://images.simpletour.com/activity/complain/modal_ok.png" alt="">
<img style="display: none" src="https://images.simpletour.com/activity/complain/modal_view.png" alt="">
<script src="/old/common/js/zepto.min.js"></script>
<script src="/old/common/common/js/base.js"></script>
<script>
    (function (doc, win) {

        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                };
        recalc();
        doc.getElementsByClassName('page-group')[0].style.visibility = 'visible';
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    $(document).ready(function() {
        $('.submit').click(function() {
            $('.confirm-msg').addClass('in').css({
                '-webkit-transform': 'translate3d(0,'+-$('.confirm-msg').height()/2+'px,0)' ,
                'transform': 'translate3d(0,'+-$('.confirm-msg').height()/2+'px,0)'
            });
            $('.confirm-bg').addClass('confirm-bg-visible')
        })
    });
</script>
</body>
</html>
