.bombBox{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.4);
  padding: 0 rem(70px);
  display: none;
  z-index: 100;
  &.show{
    display: block;
  }
  &:after{
    content: '';
    display: block;
    clear: both;
    width: 0;
    height: 0;
  }
  .close{
    width: rem(42px);
    height: rem(137px);
    background: url('/src/imagesages/bombox/red-close.png') no-repeat bottom center;
    background-size: 100% auto;
    margin-bottom: rem(50px);
    float: right;
  }
  .boxContent{
    width: 100%;
    background: #fff;
    -webkit-border-radius: rem(6px);
    -moz-border-radius: rem(6px);
    -ms-border-radius: rem(6px);
    -o-border-radius: rem(6px);
    border-radius: rem(6px);
    float: right;
    padding: 0 rem(39px) rem(54px);
    h3{
      text-align: center;
      font-size: rem(32px);
      font-weight: 500;
      padding: rem(24px) 0;
    }
    button{
      width: rem(278px);
      height: rem(62px);
      line-height: rem(62px);
      outline: 0;
      display: block;
      background: rgb(251,49,49);
      color: #fff;
      font-size: rem(28px);
      text-align: center;
      font-weight: 500;
      margin: rem(60px) auto 0;
      border: 0;
      -webkit-border-radius: rem(6px);
      -moz-border-radius: rem(6px);
      -ms-border-radius: rem(6px);
      -o-border-radius: rem(6px);
      border-radius: rem(6px);
    }
    form{
      input{
        border: 1px solid rgb(229,229,229);
        display: block;
        font-size: rem(26px);
        width: 100%;
        height: rem(62px);
        margin-top: rem(24px);
        padding: 0 rem(20px);
        outline: none;
        -webkit-border-radius: rem(6px);
        -moz-border-radius: rem(6px);
        -ms-border-radius: rem(6px);
        -o-border-radius: rem(6px);
        border-radius: rem(6px);
      }
    }
  }
}
.bombBox.success{
  .boxContent{
    height: rem(500px);
    background: url('/src/imagesages/bombox/success-bg.png') no-repeat center;
    background-size: 100% 100%;
    .prizeName{
      text-align: center;
      font-size: rem(28px);
      color: #fff;
      margin-top: rem(120px);
    }
    .imgs{
        margin-top: rem(34px);
    }
    .prizeImg{
      width: rem(120px);
      height: rem(120px);
      display: block;
      margin: 0 auto;
      background-color: #fff;
      -webkit-border-radius: rem(6px);
      -moz-border-radius: rem(6px);
      -ms-border-radius: rem(6px);
      -o-border-radius: rem(6px);
      border-radius: rem(6px);
    }
    .sponsorImg{
      width: rem(120px);
      height: rem(50px);
      display: block;
      margin: 0 auto;
      background-color: #fff;
      margin-top: rem(10px);
    }
    button{
      margin-top: rem(24px);
    }
  }
}
.bombBox.fail{
  .boxContent{
    height: rem(500px);
    background: url('/src/imagesages/bombox/fail-bg.png') no-repeat center;
    background-size: 100% 100%;
    button{
      margin-top: rem(360px);
    }
  }
}