@import "/old/css/css/coupon-common";

img {
  width: 100%;
  height: 100%;
}

.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #87e9cd;
  .container {
    width: 100%;
    background: url(/old/images/lottery/background.png) no-repeat top;
    background-size: 100%;
    padding-bottom: rem(48px);
    .header {
      width: 100%;
      padding: rem(24px) rem(36px) 0 rem(33px);
      min-height: rem(189.5px);
      img {
        width: 100%;
        height: 100%;
      }
    }
    .content {
      .title-wrap {
        .title {
          width: rem(442px);
          float: right;
          border: rem(4px) solid #fff;
          border-right: 0;
          background-color: #01cdca;
          padding: 0 rem(77px) 0 0;
          img {
            padding: rem(18px) rem(90px) rem(18px) rem(14px);
            border-right: rem(4px) solid #fff;
          }
        }
        .time {
          font-size: rem(26px);
          color: #01cdca;
          text-align: right;
          clear: both;
          margin-right: rem(48px);
          padding: rem(6px);
        }
      }
      table.winners {
        width: rem(580px);
        border: rem(4px) solid #fff;
        background-color: #01cdca;
        font-size: rem(24px);
        color: #fff;
        line-height: rem(40px);
        border-collapse:collapse;
        margin: rem(30px) auto 0;
        thead{
          height: rem(68px);
          line-height: rem(68px);
          border-bottom: rem(4px) solid #fff;
        }
        td, th {
            text-align: center;
        }
        tbody tr{
          height: rem(68px);
          line-height: rem(68px);
        }
        tbody tr td:first-child{
          width: 36%;
        }
        tbody tr td:last-child{
          width: 64%;
        }
      }
    }
  }
}