<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/old/css/beauty/activities.scss?__inline">
</head>
<body>
<div class="page-group" style="visibility: hidden">
    <div class="page page-current">
        <div class="page-content">
            <div class="head-img">
                <img src="/old/images/beauty/price.png" alt="">
            </div>
            <div class="price-content">
                <div class="thead">
                    <div class="rank">
                        · 名 次 ·
                    </div>
                    <div class="price">
                        · 奖 励 ·
                    </div>
                </div>
                <div class="tr">
                    <div class="rank">
                        <p>人气</p>
                        <p>爆棚奖</p>
                    </div>
                    <div class="price">
                        <h5>泰国5日自在行一份</h5>
                        <p>(含往返机票、五晚住宿、简途·泰BUS车位产品)</p>
                    </div>
                </div>

                <div class="tr" style="background-color: #e2e2e2;">
                    <div class="rank">
                        第1名
                    </div>
                    <div class="price">
                        <h5>九寨沟3日自在行两份</h5>
                        <p>(含三日往返车位、两晚经济住宿,指定景区门票)</p>
                    </div>
                </div>

                <div class="tr">
                    <div class="rank">
                        第2名
                    </div>
                    <div class="price">
                        <h5>九寨沟3日自在行一份</h5>
                        <p>(含三日往返车位、两晚经济住宿,指定景区门票)</p>
                    </div>
                </div>

                <div class="tr" style="background-color: #e2e2e2;">
                    <div class="rank" style="padding-top:1.5rem;">
                        <p>3-10名</p>
                        <span>(产品任选一)</span>
                    </div>
                    <div class="price" style="padding:0;">
                        <div class="item">
                            <h5>九寨沟3日自在行一份</h5>
                            <p>(含三日往返车费、两晚经济住宿)</p>
                        </div>
                        <div class="item">
                            <h5>峨眉山乐山2日自在行一份</h5>
                            <p>(含两日往返车费、一晚经济住宿)</p>
                        </div>
                        <div class="item">
                            <h5>若尔盖3日自在行一份</h5>
                            <p>(含三日往返车费、两晚经济住宿)</p>
                        </div>
                    </div>
                </div>

                <div class="tr">
                    <div class="rank" style="padding-top:1.5rem;">
                        <p>11-30名</p>
                        <span>(产品任选一)</span>
                    </div>
                    <div class="price" style="padding:0;">
                        <div class="item">
                            <h5>都江堰青城山一日往返车位</h5>
                        </div>
                        <div class="item">
                            <h5>中国死海一日往返车位</h5>
                        </div>
                        <div class="item">
                            <h5>熊猫基地一日往返车位</h5>
                        </div>
                        <div class="item">
                            <h5>明月村一日往返车位</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="head-img">
                <img src="/old/images/beauty/activity-detail-title.png" alt="">
            </div>
            <div class="detail-content">
                <ol>
                    <li>在活动主界面,点击我要报名,上传照片并填写信息,即报名成功.根据网友对您照片的点赞数,前30名都有免费游等着你哦</li>
                    <li>“泰国5日自在行”为人气大奖，参赛者总点赞数需达到888个以上，才有机会获得该奖品。（若活动截止时，点赞数最高者未达到888个赞，则直接获得第1名的奖品，之后的名次和奖品顺延；若出现不止一位点赞数超过888个的参赛者，则点赞数最高的赢得人气大奖，之后的名次和奖品顺延）</li>
                    <li>
                        <p>活动时间:</p>
                        <p>8月1日-8月15日</p>
                        <p>8月15日12点截止点赞,18点在简途微信公众号(simpletour2015)公布获奖名单,3个工作日内我们将与中奖者电联.</p>
                        <span>Ps: 微信关注"简途"(simpletour2015),查看每日人气榜单!</span>
                    </li>
                    <li>
                        <p>投票规则:</p>
                        <p>· 每人每天最多可点赞3次,但不能重复点赞同一人</p>
                        <p>· 参赛的宝宝不可以上传羞羞的照片哦!否则后果自负</p>
                        <p>· 点击"赞一个",给ta加人气;点击"说两句",留言夸夸ta!</p>
                        <span>注:上传照片者即默认同意简途使用,仅会用于简途自有渠道宣传,不会用作它途.</span>
                    </li>
                </ol>
            </div>

            <div class="bottom-text">
                本活动最终解释权由简途旅行所有
            </div>
        </div>
    </div>
</div>
<script src="/old/common/js/zepto.min.js"></script>
<script>
    (function (doc, win) {

        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 375) + "px !important;}"));
                };
        recalc();
        doc.getElementsByClassName('page-group')[0].style.visibility = 'visible';
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
</script>
</body>
</html>
