@import "/common/css/base";
body{
  font-size: 0;
}
.page-content{
  background: url("/images/beauty/bg.jpg") repeat;
  background-size: rem(375px);
}
.head-img{
  margin: rem(20px) auto;
  width:60%;
  img{
    width:100%;
  }
}
.list {
  padding-bottom: rem(32px);
}
.list-item{
  position: relative;
  width: rem(330px);
  margin: rem(20px) auto;
  background-color: #fff;
  box-sizing: border-box;
  border: rem(2.5px) solid black;
  border-radius: rem(5px);
  padding: rem(8px);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  .player-avatar {
    width: 100%;
    img {
      width: 100%;
    }
  }
  p {
    padding: rem(10px) 0;
    color: #000;
    font-size: rem(14px);
    border-bottom: 1px solid #bdbdbd;
    word-break: break-all;
    line-height: 1rem;
  }
  .star-count {
    margin-top: rem(10px);
    height: rem(30px);
    line-height: rem(30px);
    color: #000;
    font-size: rem(16px);
    .player-rank {
      float: right;
      color: #000;
      font-size: rem(16px);
      img {
        vertical-align: text-bottom;
        width: rem(23px);
        height: rem(23px);
      }
    }
  }
  .star-btn, .submit {
    color: #000;
    font-size: rem(18px);
    font-weight: 500;
    text-align: center;
    margin: rem(20px) auto;
    width: rem(300px);
    height: rem(40px);
    line-height: rem(40px);
    background: url(/images/beauty/star-btn-bg.png) no-repeat center;
    background-size: contain;
    &.disabled {
      background: url(/images/beauty/btn-disabled-bg.png) no-repeat center;
      background-size: contain;
    }
  }
  .content {
    width: 100%;
    h5 {
      font-size: rem(16px);
      color: #000000;
      font-weight: 600;
      margin-bottom: rem(5px);
    }
    textarea {
      width: 100%;
      height: rem(100px);
      border: rem(2.5px) solid black;
      border-radius: rem(5px);
      padding: rem(10px);
      font-size: rem(16px);
      background-color: #f5f5f5;
    }
  }
  .comment-box {
    width: 100%;
    .comment-item {
      margin-top: rem(10px);
      h5 {
        font-size: rem(16px);
        color: #000000;
        font-weight: 600;
        margin-bottom: rem(5px);
      }
      p {
        padding: rem(3px) 0;
      }
    }
  }
  .border-bottom {
    position: absolute;
    left: rem(-2.5px);
    right: 0;
    bottom: rem(-10px);
    width: rem(330px);
    img {
      width: 100%;
    }
  }
}