@import "/common/css/base";
body{
  font-size: 0;
}
.page-content{
  background: url("/images/beauty/bg.jpg") repeat;
  background-size: rem(375px);
}
.head-img{
  margin-top: rem(24px);
  width:100%;
}
.gp {
  margin: rem(15px) auto;
  width: rem(330px);
  h5 {
    font-size: rem(18px);
    color: #000000;
    font-weight: 600;
    margin-bottom: rem(10px);
  }
  .photo-wrapper {
    position: relative;
    width: 100%;
    height: rem(185px);
    border: rem(2.5px) solid black;
    border-radius: rem(5px);
    background: url(/images/beauty/defalut-photo.png) no-repeat center ;
    background-size: 25%;
    background-color: #fff;
  }
  .input-group {
    width: 100%;
    height: rem(37px);
    margin-bottom: rem(14px);
    line-height: rem(32px);
    border: rem(2.5px) solid black;
    border-radius: rem(5px);
    color: #000000;
    background-color: #fff;
    font-size: rem(16px);
    text-align: center;
    label {
      float: left;
      width: rem(50px);
      height: 100%;
    }
    span {
      float: left;
      margin-left: rem(10px);
    }
    .cutline {
      margin-top: rem(7px);
      float: left;
      width: rem(1px);
      height: rem(17px);
      background-color: #000;
    }
    input {
      font-size: rem(16px);
      width: rem(270px);
      float: left;
      border: 0;
      height: 100%;
      text-indent: rem(10px);
    }
    .radio-gp {
      float: left;
      width: rem(40px);
      height: 100%;
      padding-top: rem(4px);
      .radio {
        display: inline-block;
        width: rem(18px);
        height: rem(18px);
        border: 1px solid #000;
        border-radius: rem(20px);
        text-align: center;
        &.choose {
          span {
            display: inline-block;
            margin: .05rem;;
            width: rem(14px);
            height: rem(14px);
            border: 1px solid #000;
            border-radius: rem(15px);
            background-color: #feff01;

          }
        }
      }
    }
  }
  textarea {
    width: 100%;
    height: rem(150px);
    border: rem(2.5px) solid black;
    border-radius: rem(5px);
    padding: rem(10px);
    font-size: rem(16px);
  }
}
.enlist {
  width: rem(150px);
  height: rem(50px);
  margin: rem(25px) auto;
  background: url(/images/beauty/enlist.png) no-repeat center;
  background-size: contain;
  &.disabled {
    background: url(/images/beauty/enlist-disabled.png) no-repeat center;
    background-size: contain;
  }
}
