@keyframes rotate {
  0% {
    -webkit-transform:translate3d(200%,200%,0) rotate(0deg) scale(3,3);
    transform: translate3d(200%,200%,0) rotate(0deg) scale(3,3);
  }
  100%{
    -webkit-transform: translate3d(0,0,0) rotate(1080deg) scale(1,1);
    transform: translate3d(0,0,0) rotate(1080deg) scale(1,1);
  }
}
.content{
  height: 100%;
}
img.rotate{
  -webkit-animation:rotate ease-out .5s forwards;
  animation:rotate ease-out .5s forwards;
}
