/**
 * Created by ashbringer on 16/5/20.
 */
@import "base";
.ios-select{
  position: fixed;
  left: 0;
  width:100%;
  height: 13rem;
  z-index:1000;
  bottom: 0;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  background: #cfd5da;
  -webkit-transition-duration: 400ms;
  transition-duration:400ms;
  -webkit-transform:translate3d(0,100%,0);
  transform:translate3d(0,100%,0);
  &.ios-select-in{
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}
.ios-select-header{
  position: relative;
  text-align: center;
  color: #5f646e;
  height: 2.2rem;
  font-weight: normal;
  line-height: 2.2rem;
  font-size: .9rem;
  background-color: white;
  button{
    position: absolute;
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: .9rem;
    right:0.5rem;
    border:none;
    color:#0894ec;
    background-color: transparent;
  }
}
.ios-select-header:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  height: 1px;
  width: 100%;
  background-color: #e7e7e7;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .ios-select-header:before {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .ios-select-header:before {
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33);
  }
}
.ios-select-header:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: #e7e7e7;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .ios-select-header:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .ios-select-header:after {
    -webkit-transform: scaleY(0.33);
    transform: scaleY(0.33);
  }
}
.ios-select-content{
  height: 10.8rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0;
  text-align: right;
  font-size: 1.2rem;
  position: relative;
  -webkit-mask-box-image: -webkit-linear-gradient(bottom, transparent, transparent 5%, white 20%, white 80%, transparent 95%, transparent);
  -webkit-mask-box-image: linear-gradient(to top, transparent, transparent 5%, white 20%, white 80%, transparent 95%, transparent);
}
.ios-select-col{
  text-align: center;
  max-height: 100%;
  width: 100%;
  .ios-select-col-item{
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #999999;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    -webkit-transition: 300ms;
    transition: 300ms;
    &.ios-select-col-item-selected{
      color: #3d4145;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      //-webkit-transform: rotateX(0deg);
      //transform: rotateX(0deg);
    }
  }
}
.ios-select-col-wrapper{
  -webkit-transition: 300ms ease-out;
  transition:300ms ease-out;
}
.ios-select-highlight{
  height: 36px;
  box-sizing: border-box;
  position: absolute;
  left:0;
  width: 100%;
  top:50%;
  margin-top: -18px;
  pointer-events:none;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #a8abb0;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: #a8abb0;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
}