<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/appBargain/assist.scss?__inline">
</head>
<body>
<div class="page-group">
    <div class="page page-current">
        <div class="page-content">
            <img class="header" src="/images/appBargain/header.png">
            <div class="product">
                <img src="/images/appBargain/spot1.jpg" alt="">
                <div class="first">
                    成都-稻城亚丁6日往返车票+舒适住+套票
                </div>
                <div class="second">
                    <div>售价:9999.99元</div>
                    <div>还有999个"0元购"名额</div>
                </div>
                <img src="/images/appBargain/assist.png" class="text">
                <p>已有99位砍神挥斧相助，目前价格为<span>9999.99元</span></p>
                <div class="input-group">
                    <input type="text" placeholder="请输入您的手机号码">
                    <button>获取验证码</button>
                </div>
                <div class="error">
                    手机号错误
                </div>
                <div class="input-group">
                    <input type="text" placeholder="请输入验证码">
                    <button>开始砍价</button>
                </div>
                <div class="error visible">
                    验证码错误
                </div>
            </div>
            <div class="table">
                <div class="table-content">
                    <div class="table-title">
                        <div>姓名</div>
                        <div>砍掉多少钱</div>
                        <div>砍后价格</div>
                    </div>
                    <div class="table-item">
                        <div>超人和蝙蝠侠和</div>
                        <div>0.85元</div>
                        <div>9999.14元</div>
                    </div>
                    <div class="table-item">
                        <div>超人和蝙蝠侠和</div>
                        <div>0.85元</div>
                        <div>9999.14元</div>
                    </div>
                    <div class="table-item">
                        <div>超人和蝙蝠侠和</div>
                        <div>0.85元</div>
                        <div>9999.14元</div>
                    </div>
                    <div class="table-item">
                        <div>超人和蝙蝠侠和</div>
                        <div>0.85元</div>
                        <div>9999.14元</div>
                    </div>
                    <div class="table-item">
                        <div>超人和蝙蝠侠和</div>
                        <div>0.85元</div>
                        <div>9999.14元</div>
                    </div>
                </div>
                <div class="buttons">
                    <button>上一页</button>
                    <button>下一页</button>
                </div>
            </div>
            <div class="table">
                <img src="/images/appBargain/ranking.png" alt="">
                <div class="table-content">
                    <div class="table-title">
                        <div>姓名</div>
                        <div>砍掉多少钱</div>
                        <div>砍后价格</div>
                    </div>
                    <div class="table-item">
                        <div>超人和蝙蝠侠和</div>
                        <div>0.85元</div>
                        <div>9999.14元</div>
                    </div>
                    <div class="table-item">
                        <div>超人和蝙蝠侠和</div>
                        <div>0.85元</div>
                        <div>9999.14元</div>
                    </div>
                    <div class="table-item">
                        <div>超人和蝙蝠侠和</div>
                        <div>0.85元</div>
                        <div>9999.14元</div>
                    </div>
                    <div class="table-item">
                        <div>超人和蝙蝠侠和</div>
                        <div>0.85元</div>
                        <div>9999.14元</div>
                    </div>
                    <div class="table-item">
                        <div>超人和蝙蝠侠和</div>
                        <div>0.85元</div>
                        <div>9999.14元</div>
                    </div>
                </div>
            </div>
            <div class="tips">
                <div class="tips-title">
                    砍价秘籍
                </div>
                <ul>
                    <li>1.输入手机号码，邀请好友帮忙砍价；</li>
                    <li>2.每人在同一时段只能发起1个砍价，但可以帮多位好友砍价；</li>
                    <li>3.一个砍价中，每位好友有1次帮砍机会，金额随机减0.8-8元；</li>
                    <li>4.帮砍成功，好友将获得225元“简途旅行APP专属现金抵用券” <span>（每人只能领取1次）</span>；</li>
                    <li>5.该产品价格砍至0元时，砍价成功，你将获得该旅行产品“0元购”名额1个；</li>
                    <li>6.当该产品所有“0元购”名额被抢光时，该产品砍价活动结束，届时其他参与者砍价失败，产品恢复原价。</li>
                </ul>
            </div>
            <img src="/images/appBargain/logo.png" alt="" class="logo">
        </div>
    </div>
</div>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                    docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
                };
        if (!doc.addEventListener) return;
        recalc();
        document.body.style.visibility = 'visible';
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    var a = document.getElementsByTagName('a');
    for(var i = 0; i < a.length; i++){
        a[i].addEventListener('touchstart',function(){},false);
    }
</script>
</body>
</html>