<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/YN9/yn.scss?__inline" media="screen" title="no_title" charset="utf-8">
</head>
<body style="visibility: hidden;">
<div class="header">
    <img src="/images/YN9/yn_header@2x.png" alt=""/>
</div>
<div class="content">
    <div class="nav">
        <div class="topBar">
            <div class="bar selected"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="tabs">
            <div class="tab selected">
                <div class="date">2016.12</div>
                <div class="day">18</div>
                <div class="time">20:00准时开抢</div>
            </div>
            <div class="tab">
                <div class="date">2016.12</div>
                <div class="day">21</div>
                <div class="time">20:00准时开抢</div>
            </div>
            <div class="tab">
                <div class="date">2016.12</div>
                <div class="day">26</div>
                <div class="time">20:00准时开抢</div>
            </div>
        </div>
    </div>
    <div class="panels">
        <div class="panel selected">
            <div class="nines">
                <div class="nine sellout" data-href="https://m.simpletour.com/mobile/gateway/wechat/presell/detail/128">
                    <img src="/images/YN9/nine1_001@2x.png" alt=""/>
                    <div class="overlay">
                        <div class="old-price">原价158元&nbsp;抢购</div>
                        <div class="name">丽江-泸沽湖2日往返直通车</div>
                    </div>
                </div>
                <div class="nine" data-href="https://m.simpletour.com/mobile/gateway/wechat/presell/detail/127">
                    <img src="/images/YN9/nine1_002@2x.png" alt=""/>
                    <div class="overlay">
                        <div class="old-price">原价158元&nbsp;抢购</div>
                        <div class="name">丽江-泸沽湖3日往返直通车</div>
                    </div>
                </div>
            </div>
            <div class="hot-title">爆款专区</div>
            <div class="hots">
                <div class="row">
                    <div class="hot" data-href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/470">
                        <img src="/images/YN9/hot1_001@2x.png" alt=""/>
                        <div class="name">丽江-泸沽湖2日往返直通车（冬季）</div>
                        <div class="info">
                            <div class="price"><span>158</span>&nbsp;元起</div>
                            <a href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/470">立即抢购</a>
                        </div>
                    </div>
                    <div class="hot" data-href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/471">
                        <img src="/images/YN9/hot1_002@2x.png" alt=""/>
                        <div class="name">丽江-泸沽湖3日往返直通车（冬季）</div>
                        <div class="info">
                            <div class="price"><span>158</span>&nbsp;元起</div>
                            <a href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/471">立即抢购</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="hot" data-href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/468">
                        <img src="/images/YN9/hot1_003@2x.png" alt=""/>
                        <div class="name">丽江-泸沽湖1日单程直通车</div>
                        <div class="info">
                            <div class="price"><span>79</span>&nbsp;元起</div>
                            <a href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/468">立即抢购</a>
                        </div>
                    </div>
                    <div class="hot" data-href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/473">
                        <img src="/images/YN9/hot1_004@2x.png" alt=""/>
                        <div class="name">丽江-泸沽湖2日自由行（含泸沽湖门票1张）</div>
                        <div class="info">
                            <div class="price"><span>258</span>&nbsp;元起</div>
                            <a href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/473">立即抢购</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="hot" data-href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/477">
                        <img src="/images/YN9/hot1_005@2x.png" alt=""/>
                        <div class="name">丽江-泸沽湖3日自由行（含泸沽湖门票1张）</div>
                        <div class="info">
                            <div class="price"><span>258</span>&nbsp;元起</div>
                            <a href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/477">立即抢购</a>
                        </div>
                    </div>
                    <div class="hot" data-href="https://m.simpletour.com/mobile/gateway/wechat/resource/scenic/317">
                        <img src="/images/YN9/hot1_006@2x.png" alt=""/>
                        <div class="name">泸沽湖景区门票</div>
                        <div class="info">
                            <div class="price"><span>100</span>&nbsp;元起</div>
                            <a href="https://m.simpletour.com/mobile/gateway/wechat/resource/scenic/317">立即抢购</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="hot spec" data-href="https://m.simpletour.com/mobile/gateway/wechat/resource/hotel/308">
                        <img src="/images/YN9/hot1_007@2x.png" alt=""/>
                        <div class="info">
                            <div class="name">【住在丽江】安盛院精品客栈</div>
                            <img src="/images/YN9/hot1_007_price@2x.png" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recommend-title">精彩推荐</div>
            <div class="recommends">
                <a class="recommend" href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/310">丽江古城-虎跳峡-香格里拉3日往返直通车&nbsp;&nbsp;<span>158元</span></a>
                <a class="recommend" href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/335">丽江古城-虎跳峡-香格里拉3日往返畅享套餐（含住宿、早餐）&nbsp;&nbsp;<span>398元</span></a>
                <a class="recommend" href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/307">丽江-玉龙雪山1日往返直通车&nbsp;&nbsp;<span>50元</span></a>
                <a class="recommend" href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/323">丽江-玉龙雪山1日畅玩套餐（含进山票+大索道+环保车）&nbsp;&nbsp;<span>388元</span></a>
                <a class="recommend" href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/489">丽江古城-大理古城1日单程直通车&nbsp;&nbsp;<span>79元</span></a>
                <a class="recommend" href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/428">丽江-大理3日往返套餐（游船+SM环洱海）&nbsp;&nbsp;<span>529元</span></a>
            </div>
        </div>
        <div class="panel">
            <div class="nines">
                <div class="nine" data-href="https://m.simpletour.com/mobile/gateway/wechat/presell/detail/129">
                    <img src="/images/YN9/nine2_001@2x.png" alt=""/>
                    <div class="overlay">
                        <div class="old-price">原价158元&nbsp;抢购</div>
                        <div class="name">丽江古城-虎跳峡、香格里拉2日往返直通车</div>
                    </div>
                </div>
                <div class="nine" data-href="https://m.simpletour.com/mobile/gateway/wechat/presell/detail/130">
                    <img src="/images/YN9/nine2_002@2x.png" alt=""/>
                    <div class="overlay">
                        <div class="old-price">原价158元&nbsp;抢购</div>
                        <div class="name">丽江古城-虎跳峡、香格里拉3日往返直通车</div>
                    </div>
                </div>
            </div>
            <div class="hot-title">爆款专区</div>
            <div class="hots">
                <div class="row">
                    <div class="hot" data-href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/309">
                        <img src="/images/YN9/hot2_001@2x.png" alt=""/>
                        <div class="name">丽江古城-虎跳峡、香格里拉2日往返直通车</div>
                        <div class="info">
                            <div class="price"><span>158</span>&nbsp;元起</div>
                            <a href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/309">立即抢购</a>
                        </div>
                    </div>
                    <div class="hot" data-href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/310">
                        <img src="/images/YN9/hot2_002@2x.png" alt=""/>
                        <div class="name">丽江古城-虎跳峡、香格里拉3日往返直通车</div>
                        <div class="info">
                            <div class="price"><span>158</span>&nbsp;元起</div>
                            <a href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/310">立即抢购</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="hot" data-href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/308">
                        <img src="/images/YN9/hot2_003@2x.png" alt=""/>
                        <div class="name">丽江古城-虎跳峡、香格里拉1日单程直通车</div>
                        <div class="info">
                            <div class="price"><span>89</span>&nbsp;元起</div>
                            <a data-href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/308">立即抢购</a>
                        </div>
                    </div>
                    <div class="hot" data-href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/333">
                        <img src="/images/YN9/hot2_004@2x.png" alt=""/>
                        <div class="name">丽江-虎跳峡、香格里拉1日单程畅享套餐（含住宿、早餐）</div>
                        <div class="info">
                            <div class="price"><span>229</span>&nbsp;元起</div>
                            <a href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/333">立即抢购</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="hot" data-href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/334">
                        <img src="/images/YN9/hot2_005@2x.png" alt=""/>
                        <div class="name">丽江古城-虎跳峡、香格里拉2日往返畅享套餐（含住宿、早餐）</div>
                        <div class="info">
                            <div class="price"><span>298</span>&nbsp;元起</div>
                            <a href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/334">立即抢购</a>
                        </div>
                    </div>
                    <div class="hot" data-href="https://m.simpletour.com/mobile/gateway/wechat/resource/scenic/245">
                        <img src="/images/YN9/hot2_006@2x.png" alt=""/>
                        <div class="name">香格里拉虎跳峡门票</div>
                        <div class="info">
                            <div class="price"><span>55</span>&nbsp;元起</div>
                            <a href="https://m.simpletour.com/mobile/gateway/wechat/resource/scenic/245">立即抢购</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="hot spec" data-href="https://m.simpletour.com/mobile/gateway/wechat/resource/scenic/278">
                        <img src="/images/YN9/hot2_007@2x.png" alt=""/>
                        <div class="info">
                            <div class="name">香格里拉普达措国家公园门票</div>
                            <img src="/images/YN9/hot2_007_price@2x.png" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recommend-title">精彩推荐</div>
            <div class="recommends">
                <a class="recommend" href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/307">丽江-玉龙雪山1日往返直通车&nbsp;&nbsp;<span>50元</span></a>
                <a class="recommend" href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/331">丽江-玉龙雪山1日畅玩套餐（含进山票+大索道+环保车）&nbsp;&nbsp;<span>388元</span></a>
                <a class="recommend" href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/489">丽江古城-大理古城1日往返直通车&nbsp;&nbsp;<span>79元</span></a>
                <a class="recommend" href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/428">丽江-大理3日往返套餐（游船+SM环洱海）&nbsp;&nbsp;<span>529元</span></a>
                <a class="recommend" href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/471">丽江-泸沽湖3日往返直通车&nbsp;&nbsp;<span>158元</span></a>
                <a class="recommend" href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/477">丽江-泸沽湖3日自由行（含泸沽湖门票1张）&nbsp;&nbsp;<span>258元</span></a>
            </div>
        </div>
        <div class="panel">
            <div class="nines">
                <div class="nine" data-href="https://m.simpletour.com/mobile/gateway/wechat/presell/detail/131">
                    <img src="/images/YN9/nine3_001@2x.png" alt=""/>
                    <div class="overlay">
                        <div class="old-price">原价168元&nbsp;抢购</div>
                        <div class="name">丽江古城-大理古城2日往返直通车</div>
                    </div>
                </div>
                <div class="nine" data-href="https://m.simpletour.com/mobile/gateway/wechat/presell/detail/132">
                    <img src="/images/YN9/nine3_002@2x.png" alt=""/>
                    <div class="overlay">
                        <div class="old-price">原价168元&nbsp;抢购</div>
                        <div class="name">丽江古城-大理古城3日往返直通车</div>
                    </div>
                </div>
            </div>
            <div class="hot-title">爆款专区</div>
            <div class="hots">
                <div class="row">
                    <div class="hot" data-href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/313">
                        <img src="/images/YN9/hot3_001@2x.png" alt=""/>
                        <div class="name">丽江古城-大理古城2日往返直通车</div>
                        <div class="info">
                            <div class="price"><span>168</span>&nbsp;元起</div>
                            <a href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/313">立即抢购</a>
                        </div>
                    </div>
                    <div class="hot" data-href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/314">
                        <img src="/images/YN9/hot3_002@2x.png" alt=""/>
                        <div class="name">丽江古城-大理古城3日往返直通车</div>
                        <div class="info">
                            <div class="price"><span>168</span>&nbsp;元起</div>
                            <a href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/314">立即抢购</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="hot" data-href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/489">
                        <img src="/images/YN9/hot3_003@2x.png" alt=""/>
                        <div class="name">丽江古城-大理古城1日单程直通车</div>
                        <div class="info">
                            <div class="price"><span>79</span>&nbsp;元起</div>
                            <a href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/489">立即抢购</a>
                        </div>
                    </div>
                    <div class="hot" data-href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/316">
                        <img src="/images/YN9/hot3_004@2x.png" alt=""/>
                        <div class="name">大理古城-大理双廊1日单程直通车</div>
                        <div class="info">
                            <div class="price"><span>19</span>&nbsp;元起</div>
                            <a href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/316">立即抢购</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="hot" data-href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/428">
                        <img src="/images/YN9/hot3_005@2x.png" alt=""/>
                        <div class="name">丽江-大理3日往返套餐（游船+SM环洱海）</div>
                        <div class="info">
                            <div class="price"><span>529</span>&nbsp;元起</div>
                            <a href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/428">立即抢购</a>
                        </div>
                    </div>
                    <div class="hot" data-href="https://m.simpletour.com/mobile/gateway/wechat/resource/scenic/320">
                        <img src="/images/YN9/hot3_006@2x.png" alt=""/>
                        <div class="name">大理-苍山感通索道</div>
                        <div class="info">
                            <div class="price"><span>100</span>&nbsp;元起</div>
                            <a href="https://m.simpletour.com/mobile/gateway/wechat/resource/scenic/320">立即抢购</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="hot spec" data-href="https://m.simpletour.com/mobile/gateway/wechat/resource/hotel/248">
                        <img src="/images/YN9/hot3_007@2x.png" alt=""/>
                        <div class="info">
                            <div class="name">大理-风花雪月大酒店</div>
                            <img src="/images/YN9/hot3_007_price@2x.png" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recommend-title">精彩推荐</div>
            <div class="recommends">
                <a class="recommend" href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/307">丽江-玉龙雪山1日往返直通车&nbsp;&nbsp;<span>50元</span></a>
                <a class="recommend" href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/331">丽江-玉龙雪山1日畅玩套餐（含进山票+大索道+环保车）&nbsp;&nbsp;<span>388元</span></a>
                <a class="recommend" href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/471">丽江-泸沽湖3日往返直通车&nbsp;&nbsp;<span>158元</span></a>
                <a class="recommend" href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/477">丽江-泸沽湖3日自由行（含泸沽湖门票1张）&nbsp;&nbsp;<span>258元</span></a>
                <a class="recommend" href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/310">丽江古城-虎跳峡-香格里拉3日往返直通车&nbsp;&nbsp;<span>158元</span></a>
                <a class="recommend" href="https://m.simpletour.com/mobile/gateway/wechat/tourism/detail/335">丽江古城-虎跳峡-香格里拉3日往返畅享套餐（含住宿、早餐）&nbsp;&nbsp;<span>398元</span></a>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <a class="buy" href="https://m.simpletour.com/mobile/gateway/wechat/act/page/119">简途年终特惠!&nbsp;超值划算点我去抢!</a>
    <div class="rule-title">
        <img src="/images/YN9/rule-title@2x.png" alt=""/>
    </div>
    <ul class="rules">
        <li>1、活动时间：12月18日、21日、26日晚上20:00准时开抢！</li>
        <li>2、抢购商品每人限购一份，购买多份或者重复下单均视为无效，系统将自动取消订单</li>
        <li>3、商品(行程)出行人需与下单人保持一致</li>
        <li>4、抢购活动商品一经抢购成功，不予退换，请谨慎购买(不可抗力导致的原因除外，如：自然灾害等)</li>
        <li>5、客服电话：400-800-3351</li>
        <li>6、本次活动的最终解释权归简途旅行社有限公司所有</li>
    </ul>
</div>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                };
        recalc();
        document.body.style.visibility = 'visible';
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
        var a = document.getElementsByTagName('a');
        for (var i = 0; i < a.length; i++) {
            a[i].addEventListener('touchstart', function () {
            }, false);
        }
    })(document, window);
    $(document).ready(function () {
        var $bars = $('.topBar .bar'),$panels = $('.panels .panel'),$tabs = $('.tabs .tab'),index=0;
        if (window.sessionStorage){ //如果浏览器支持localStorage
            var navShow = sessionStorage.getItem("shownum"); //获取客户端TAB状态
            if(navShow){
                $tabs.removeClass('selected');
                $tabs.eq(navShow).addClass('selected');
                $bars.removeClass('selected');
                $bars.eq(navShow).addClass('selected');
                $panels.removeClass('selected');
                $panels.eq(navShow).addClass('selected');
            }
        }else{
            alert('您的浏览器不支持localStorage.');
        }
        $('.nav .tabs .tab').on('click',function(e){
            var $this = $(this);
            index = $(this).index();
            if(window.sessionStorage){
                sessionStorage.setItem("shownum",index);
            }
            $this.siblings().removeClass('selected');
            $this.addClass('selected');
            $bars.removeClass('selected');
            $bars.eq(index).addClass('selected');
            $panels.removeClass('selected');
            $panels.eq(index).addClass('selected');
        });
        $('.nines .nine').on('click',function(e){
            if($(this).attr('data-href')){
                e.preventDefault();
                e.stopPropagation();
                e.preventDefault();
                location.href = $(this).attr('data-href');
            }
        });
        $('.hots .hot').on('click',function(e){
            if($(this).attr('data-href')){
                e.preventDefault();
                e.stopPropagation();
                location.href = $(this).attr('data-href');
            }
        });
    });
</script>
</body>
</html>