<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/old/css/lottery/winners.scss?__inline" media="screen" title="no_title" charset="utf-8">
</head>
<body style="visibility: hidden;">
<div class="wrap">
    <div class="container">
        <div class="header">
            <img src="https://images.simpletour.com/activity/lottery/lottery_headerBg.png" alt=""/>
        </div>
        <div class="content">
            <div class="title-wrap">
                <div class="title">
                    <img src="https://images.simpletour.com/activity/lottery/lottery_title_winners.png" alt=""/>
                </div>
                <div class="time">活动时间:2017.03.28-2017.04.05</div>
            </div>
            <table class="winners">
                <thead>
                <tr>
                    <th>手机号码</th>
                    <th>奖品</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>158xxxx3434</td>
                        <td>"艾普罗菲尔84"免费2日旅游</td>
                    </tr>
                    <tr>
                        <td>158xxxx3434</td>
                        <td>"艾普罗菲尔84"免费2日旅游</td>
                    </tr>
                    <tr>
                        <td>158xxxx3434</td>
                        <td>"艾普罗菲尔84"免费2日旅游</td>
                    </tr>
                    <tr>
                        <td>158xxxx3434</td>
                        <td>"艾普罗菲尔84"免费2日旅游</td>
                    </tr>
                    <tr>
                        <td>158xxxx3434</td>
                        <td>"艾普罗菲尔84"免费2日旅游</td>
                    </tr>
                    <tr>
                        <td>158xxxx3434</td>
                        <td>"艾普罗菲尔84"免费2日旅游</td>
                    </tr>
                    <tr>
                        <td>158xxxx3434</td>
                        <td>"艾普罗菲尔84"免费2日旅游</td>
                    </tr>
                    <tr>
                        <td>158xxxx3434</td>
                        <td>"艾普罗菲尔84"免费2日旅游</td>
                    </tr>
                    <tr>
                        <td>158xxxx3434</td>
                        <td>"艾普罗菲尔84"免费2日旅游</td>
                    </tr>
                    <tr>
                        <td>158xxxx3434</td>
                        <td>"艾普罗菲尔84"免费2日旅游</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/zepto.min.5551012.js"></script>
<script type="text/javascript" src="/js/base.js"></script>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                };
        recalc();
        document.body.style.visibility = 'visible';
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
        var a = document.getElementsByTagName('a');
        for (var i = 0; i < a.length; i++) {
            a[i].addEventListener('touchstart', function () {
            }, false);
        }
        document.body.addEventListener('touchstart', function () {
        });
    })(document, window);
    $(document).ready(function () {
        $('.fetch').click(function (e) {
            e.preventDefault();
            var $this = $(this);
            if (!$this.hasClass('disabled')) {
                var mobile = $.trim($('input[name=mobile]').val());
                $this.addClass('disabled');
                if (!mobile) {
                    $.alert({
                        msg: '手机号不能为空!'
                    });
                    $this.removeClass('disabled');
                } else if (!/^0?(13|14|15|17|18)[0-9]{9}$/.test(mobile)) {
                    $.alert({
                        msg: '手机号格式错误'
                    });
                    $this.removeClass('disabled');
                } else {
                    //提交代码
                    $.ajax({
                        type: 'POST',
                        url: '/mobile/gateway/${platform}/coupon/fetch',
                        // data:{mobile:mobile,couponActityId:${couponActityId},shareOpenId:'${shareOpenId}'},
                        success: function (data) {
                            if (data.code == 0) {
                                $.alert({
                                    msg: '领取成功!'
                                });
                                $this.removeClass('disabled');
                            } else {
                                $.confirm({
                                    title: '领取失败',
                                    detail: [data.msg],
                                    yes: '确认',
                                    yesFun: function () {
                                    }
                                });
                                $this.removeClass('disabled');
                            }
                        },
                        error: function (data) {
                            $this.removeClass('disabled');
                            $.alert({
                                msg: '网络异常,请重试'
                            });
                        }
                    })
                }
            } else {
                $.alert({
                    msg: '不要急,休息一下!'
                });
            }
        });
    });
</script>
</body>
</html>