@import "/old/css/css/SDbargain/common";

.content{
  margin-top: rem(-104px);
  .info-message{
    img{
      display: block;
      width: rem(254px);
      height: rem(187px);
      margin: 0 auto rem(20px);
    }
    .message{
      line-height: rem(44px);
      font-size: rem(24px);
      color: #fff;
      text-align: center;
      padding: rem(8px) rem(26px);
      @include border-radius(8px);
      border: rem(2px) solid #fff;
      margin-bottom: rem(32px);
    }
  }
}