@import "/old/css/css/SDbargain/common";

.content {
  margin-top: rem(-54px);
  &:after {
    position: absolute;
    content: '';
    display: block;
    width: rem(26px);
    height: rem(28px);
    background: url(/old/images/snow@4x.png) no-repeat center;
    background-size: cover;
    top: rem(-30px);
    left: rem(97px);
    z-index: 5;
  }
  &:before {
    position: absolute;
    content: '';
    display: block;
    width: rem(26px);
    height: rem(28px);
    background: url(/old/images/snow@4x.png) no-repeat center;
    background-size: cover;
    top: rem(-54px);
    right: rem(0px);
    z-index: 5;
  }
  .buttons {
    margin-bottom: rem(32px);
  }
  .product {
    margin-bottom: rem(14px);
  }
  .esoterica{
    margin-bottom: 0;
  }
}