<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/SDplay/sdplay.scss?__inline" media="screen" title="no_title" charset="utf-8">
</head>
<body style="visibility: hidden;">
<div class="header">
    <img src="/images/SDplay/sd17_header.jpg" alt=""/>
</div>
<div class="content">
    <div class="panicBuy">
        <div class="panic_up">
            <img src="/images/SDplay/sd17_panicBuy.jpg" alt="">
            <div class="overlay">12.22上午11:00准时开抢&nbsp;每人限购1份!限量10份!</div>
        </div>
        <div class="panic_down">
            <div class="name">九鼎山滑雪一日往返车位</div>
            <div class="prices">
                原价78&nbsp;￥<span>9.9</span>立即抢
            </div>
        </div>
    </div>
    <div class="panels-wrap">
        <div class="tabs">
            <span class="tab">四川</span>
            <span class="tab">云南</span>
            <span class="tab">重庆</span>
        </div>
        <div class="panels">
            <div class="panel current">
                <img class="slogan" src="/images/SDplay/sd17_sc_slogan.png" alt=""/>
                <div class="products">
                    <div class="row">
                        <div class="product">
                            <div class="p-up">
                                <img src="/images/SDplay/sd17_sc_jzg.png " alt=""/>
                                <div class="tag">双旦特惠40元</div>
                                <div class="overlay">风情九寨&nbsp;情迷藏家</div>
                            </div>
                            <div class="p-down">
                                <div class="name">九寨沟3日冬游套餐（五星住+九寨门票+景区观光车）</div>
                                <div class="info">
                                    <div class="price">￥<span>979</span>&nbsp;起</div>
                                    <a>立即预订</a>
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="p-up">
                                <img src="/images/SDplay/sd17_sc_ems.png " alt=""/>
                                <div class="tag">双旦特惠54元</div>
                                <div class="overlay">泡天然温泉&nbsp;观金顶云海</div>
                            </div>
                            <div class="p-down">
                                <div class="name">峨眉山2日温泉之旅（舒适住+灵秀温泉+峨眉山门票）</div>
                                <div class="info">
                                    <div class="price">￥<span>358</span>&nbsp;起</div>
                                    <a>立即预订</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="product">
                            <div class="p-up">
                                <img src="/images/SDplay/sd17_sc_qcs.png " alt=""/>
                                <div class="tag">双旦特惠53元</div>
                                <div class="overlay">大堰壮阔&nbsp;青城悠悠</div>
                            </div>
                            <div class="p-down">
                                <div class="name">青城山都江堰2日休闲游（青、都套票+青城道温泉+舒适住宿）</div>
                                <div class="info">
                                    <div class="price">￥<span>448</span>&nbsp;起</div>
                                    <a>立即预订</a>
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="p-up">
                                <img src="/images/SDplay/sd17_sc_jzg.png " alt=""/>
                                <div class="tag">双旦特惠33元</div>
                                <div class="overlay">白天看熊猫&nbsp;晚上赏变脸</div>
                            </div>
                            <div class="p-down">
                                <div class="name">熊猫基地1日游套餐（熊猫基地门票+蜀风雅韵甲票）</div>
                                <div class="info">
                                    <div class="price">￥<span>178</span>&nbsp;起</div>
                                    <a>立即预订</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="recommend">
                    <div class="left">
                        <img src="/images/SDplay/sd17_sc_hg.png" alt=""/>
                    </div>
                    <div class="right">
                      <div class="title">新年就要吃着火锅唱着歌</div>
                        <div class="name">大龙燚火锅</div>
                        <div class="info">
                            <div class="price">￥<span>149</span>&nbsp;起</div>
                            <a>立即预定</a>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <img src="/images/SDplay/sd17_sc_footer.png" alt=""/>
                </div>
            </div>
            <div class="panel">
                <img class="slogan" src="/images/SDplay/sd17_yn_slogan.png" alt=""/>
                <div class="products">
                    <div class="row">
                        <div class="product">
                            <div class="p-up">
                                <img src="/images/SDplay/sd17_yn_lgh.png" alt=""/>
                                <div class="tag">双旦特惠10元</div>
                                <div class="overlay">文艺癌治愈地</div>
                            </div>
                            <div class="p-down">
                                <div class="name">泸沽湖2日自由行（含泸沽湖门票）</div>
                                <div class="info">
                                    <div class="price">￥<span>248</span>&nbsp;起</div>
                                    <a>立即预定</a>
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="p-up">
                                <img src="/images/SDplay/sd17_yn_xgll.png" alt=""/>
                                <div class="tag">双旦特惠43元</div>
                                <div class="overlay">难以置信的人间美景</div>
                            </div>
                            <div class="p-down">
                                <div class="name">香格里拉3日省心游（舒适住+虎跳峡、坛城博物馆门票+素食）</div>
                                <div class="info">
                                    <div class="price">￥<span>528</span>&nbsp;起</div>
                                    <a>立即预定</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="product">
                            <div class="p-up">
                                <img src="/images/SDplay/sd17_yn_dl.png" alt=""/>
                                <div class="tag">双旦特惠58元</div>
                                <div class="overlay">大理有故事&nbsp;洱海有传说</div>
                            </div>
                            <div class="p-down">
                                <div class="name">大理2日风花雪月之旅（5星住宿+环洱海趣骑一日游）</div>
                                <div class="info">
                                    <div class="price">￥<span>578</span>&nbsp;起</div>
                                    <a>立即预定</a>
                                </div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="p-up">
                                <img src="/images/SDplay/sd17_yn_ylxs.png" alt=""/>
                                <div class="tag">双旦特惠100元</div>
                                <div class="overlay">北半球最南端的雪山</div>
                            </div>
                            <div class="p-down">
                                <div class="name">玉龙雪山1日游（进山票+大索道+环保车+丽江千古情）</div>
                                <div class="info">
                                    <div class="price">￥<span>558</span>&nbsp;起</div>
                                    <a>立即预定</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <img src="/images/SDplay/sd17_sc_footer.png" alt=""/>
                </div>
            </div>
            <div class="panel">
                <img class="slogan" src="/images/SDplay/sd17_cq_slogan.png" alt=""/>
                <div class="inner">
                    <div class="recommend">
                        <div class="left">
                            <img src="/images/SDplay/sd17_cq_xns.png" alt=""/>
                            <div class="tag">双旦特惠25元</div>
                            <div class="overlay">冬季必玩景点</div>
                        </div>
                        <div class="right">
                            <div class="name">武隆、仙女山2日滑雪疯玩(仙女山票+室内滑雪+卸甲酒店(含自助))</div>
                            <div class="info">
                                <div class="price">￥<span>348</span>&nbsp;起</div>
                                <a>立即预定</a>
                            </div>
                        </div>
                    </div>
                    <div class="products">
                        <div class="row">
                            <div class="product">
                                <div class="p-up">
                                    <img src="/images/SDplay/sd17_cq_jfs.png " alt=""/>
                                    <div class="tag">双旦特惠21元</div>
                                    <div class="overlay">东方的阿尔卑斯山</div>
                                </div>
                                <div class="p-down">
                                    <div class="name">金佛山2日温泉之旅(舒适住+温泉+金佛山套票)</div>
                                    <div class="info">
                                        <div class="price">￥<span>238</span>&nbsp;起</div>
                                        <a>立即预定</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product">
                                <div class="p-up">
                                    <img src="/images/SDplay/sd17_cq_dzsk.png " alt=""/>
                                    <div class="tag">双旦特惠27元</div>
                                    <div class="overlay">晚期优秀石窟代表</div>
                                </div>
                                <div class="p-down">
                                    <div class="name">大足石刻1日游(宝顶山门票+重庆两江夜游女王号)</div>
                                    <div class="info">
                                        <div class="price">￥<span>198</span>&nbsp;起</div>
                                        <a>立即预定</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <img src="/images/SDplay/sd17_sc_footer.png" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/common/js/zepto.min.js"></script>
<script>
    (function (doc, win) {
        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                };
        recalc();
        document.body.style.visibility = 'visible';
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
        var a = document.getElementsByTagName('a');
        for (var i = 0; i < a.length; i++) {
            a[i].addEventListener('touchstart', function () {
            }, false);
        }
    })(document, window);
    $(document).ready(function () {
        $('.tabs .tab').on('click',function(e){
            var $this = $(this);
            $('.panels .panel').removeClass('current');
            $('.panels .panel').eq($this.index()).addClass('current');
        });
    });
</script>
</body>
</html>