<!DOCTYPE html>
<html lang="en">
<head>
    <title>第一媒体积分商城</title>
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-store">
    <meta http-equiv="Cache-Control" content="no-cache,no-store">
    <meta http-equiv="expires" content="0">
    <meta name="format-detection" content="telephone=nosection .recommend .wrapper.scroll ul"/>
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta content="第一媒体积分兑换商城、中国第一媒体积分兑换商城、积分俱乐部,天翼积分,第一媒体积分,积分,积分兑换,积分查询,积分返利,赚积分,话费直充,积分抽奖,优惠券,手机积分换购,宽带积分,E家积分" name="Keywords">	<meta content="天翼积分商城(m.jf.189.cn)为中国第一媒体天翼手机、宽带、固话、合作会员等提供积分兑换礼品、本地生活服务,积分换购,积分俱乐部,购物返利,积分互通等多元化服务.玩赚积分生活,尽在中国第一媒体积分俱乐部." name="Description">
    <link rel="stylesheet" href="/css/integralMall/home.scss?__inline" media="screen" title="no_title" charset="utf-8">
</head>
<body>
    <header>
        <div class="search">
            <i></i><input placeholder="请输入搜索商品名称"/><em></em>
        </div>
    </header>
    <section id="index">
        <div class="wrap">
            <div class="swiper-container banner">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/images/integralMall/banner001.jpg" alt=""/></div>
                    <div class="swiper-slide"><img src="/images/integralMall/banner002.jpg" alt=""/></div>
                    <div class="swiper-slide"><img src="/images/integralMall/banner003.jpg" alt=""/></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <nav>
                <a href="#hots">
                    <img src="/images/integralMall/nav_hot.png" alt=""/>热门分类
                </a>
                <a href="">
                    <img src="/images/integralMall/nav_rank.png" alt=""/>销量排行
                </a>
                <a href="">
                    <img src="/images/integralMall/nav_earn.png" alt=""/>积分赚取
                </a>
                <a href="">
                    <img src="/images/integralMall/nav_vip.png" alt=""/>星级专项
                </a>
                <a class="building">
                    <img src="/images/integralMall/nav_game.png" alt=""/>积分游戏
                </a>
                <a href="">
                    <img src="/images/integralMall/nav_firstprod.png" alt=""/>自有商品
                </a>
                <a href="">
                    <img src="/images/integralMall/nav_sale.png" alt=""/>名品特惠
                </a>
                <a href="">
                    <img src="/images/integralMall/nav_convert.png" alt=""/>通讯专属
                </a>
                <a href="">
                    <img src="/images/integralMall/nav_activity.png" alt=""/>精彩活动
                </a>
                <a href="">
                    <img src="/images/integralMall/nav_canconvert.png" alt=""/>我的积分
                </a>
            </nav>
            <!--<marquee class="marquee" behavior="scroll" contenteditable="true" onstart="this.firstChild.innerHTML+=this.firstChild.innerHTML;" direction="left" scrollamount="5" width="100" onmouseover="this.stop();" onmouseout="this.start();">-->
                <!--<span>王晓宇 30分钟前成功兑换了 【新时代MZC影城电影票】</span>-->
                <!--<span>爱我の人 2小时前成功兑换了【本溪广播电视报】</span>-->
                <!--<span>努努I表现 3小时前成功兑换了【本溪有线电视收费频道】</span>-->
                <!--<span>编号76757 3小时前成功兑换了【本溪有线电视收费频道】</span>-->
                <!--<span>峰尚 4小时前成功兑换了【新时代MZC影城电影票】</span>-->
                <!--<span>雨后彩虹 4小时前成功兑换了【新时代MZC影城电影票】</span>-->
                <!--<span>丫蛋 4小时前成功兑换了【新时代MZC影城电影票】</span>-->
                <!--<span>幕羽锋 4小时前成功兑换了【新时代MZC影城电影票】</span>-->
            <!--</marquee>-->
            <div class="marquee-wrap">
                <ul class="marquee">
                    <li>王晓宇 30分钟前成功兑换了 【新时代MZC影城电影票】</li>
                    <li>爱我の人 2小时前成功兑换了【本溪广播电视报】</li>
                    <li>努努I表现 3小时前成功兑换了【本溪有线电视收费频道】</li>
                    <li>编号76757 3小时前成功兑换了【本溪有线电视收费频道】</li>
                    <li>峰尚 4小时前成功兑换了【新时代MZC影城电影票】</li>
                    <li>雨后彩虹 4小时前成功兑换了【新时代MZC影城电影票】</li>
                    <li>丫蛋 4小时前成功兑换了【新时代MZC影城电影票】</li>
                    <li>幕羽锋 4小时前成功兑换了【新时代MZC影城电影票】</li>
                </ul>
            </div>
            <!--<div class="marquee"><span>王晓宇 30分钟前成功兑换了 【新时代MZC影城电影票】爱我の人 2小时前成功兑换了【本溪广播电视报】努努I表现 3小时前成功兑换了【本溪有线电视收费频道】编号76757 3小时前成功兑换了【本溪有线电视收费频道】峰尚 4小时前成功兑换了【新时代MZC影城电影票】雨后彩虹 4小时前成功兑换了【新时代MZC影城电影票】丫蛋 4小时前成功兑换了【新时代MZC影城电影票】幕羽锋 4小时前成功兑换了【新时代MZC影城电影票】</span></div>-->
            <div class="recommend mb10" id="hots">
                <div class="title pt10"><img src="/images/integralMall/jrtj.png" alt=""/></div>
                <div class="wrapper scroll">
                    <ul class="clear">
                        <li data-id="jrtj">
                            <img src="/images/integralMall/002.png" data-id="jrtj" alt="今日推荐"/>
                            <div class="name">今日推荐今日推荐今日推荐今日推荐今日推荐今日推荐今日推荐</div>
                            <span><i>811</i></span>
                        </li>
                        <li data-id="jrtj">
                            <img src="/images/integralMall/002.png" data-id="jrtj" alt="今日推荐"/>
                            <div class="name">今日推荐</div>
                            <span><i>200</i></span>
                        </li>
                        <li data-id="jrtj">
                            <img src="/images/integralMall/002.png" data-id="jrtj" alt="今日推荐"/>
                            <div class="name">今日推荐</div>
                            <span><i>1995</i></span>
                        </li>
                        <li data-id="jrtj">
                            <img src="/images/integralMall/002.png" data-id="jrtj" alt="今日推荐"/>
                            <div class="name">今日推荐</div>
                            <span><i>1909</i></span>
                        </li>
                        <li data-id="jrtj">
                            <img src="/images/integralMall/quan005.jpg" data-id="jrtj" alt="今日推荐"/>
                            <div class="name">今日推荐</div>
                            <span><i>3141</i></span>
                        </li>
                        <li data-id="jrtj">
                            <img src="/images/integralMall/quan006.jpg" data-id="jrtj" alt="今日推荐"/>
                            <div class="name">今日推荐</div>
                            <span><i>3431</i></span>
                        </li>
                        <li data-id="jrtj">
                            <img src="/images/integralMall/quan007.jpg" data-id="jrtj" alt="今日推荐"/>
                            <div class="name">今日推荐</div>
                            <span><i>1785</i></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="fallwater mb10 clear">
                <img src="/images/integralMall/fw001.jpg" alt=""/>
                <img src="/images/integralMall/fw002.jpg" alt=""/>
                <img src="/images/integralMall/fw003.jpg" alt=""/>
                <img src="/images/integralMall/fw004.jpg" alt=""/>
                <img src="/images/integralMall/fw005.jpg" alt=""/>
            </div>
            <div class="spec clear">
                <div class="title"><img src="/images/integralMall/jfts.png" alt=""/></div>
                <div class="hots">
                    <img src="/images/integralMall/spec001.jpg" alt=""/>
                    <img src="/images/integralMall/spec002.jpg" alt=""/>
                    <img src="/images/integralMall/spec003.jpg" alt=""/>
                </div>
            </div>
        </div>
    </section>
    <section id="result">
        <div class="row">
            <div class="prod" href="/">
                <div class="thumbnail">
                    <img src="/images/integralMall/gift_icon.png" alt=""/>
                </div>
                <div class="name">滴滴快车周末卡</div>
                <div class="desc">8.5折快车周末卡</div>
                <div class="price"><span>188</span>滴币</div>
            </div>
            <div class="prod">
                <div class="thumbnail">
                    <img src="/images/integralMall/002.png" alt=""/>
                </div>
                <div class="name">滴滴快车周末卡</div>
                <div class="desc">8.5折快车周末卡</div>
                <div class="price"><span>188</span>滴币</div>
            </div>
        </div>
        <div class="row">
            <div class="prod">
                <div class="thumbnail">
                    <img src="/images/integralMall/gift_icon.png" alt=""/>
                </div>
                <div class="name">滴滴快车周末卡</div>
                <div class="desc">8.5折快车周末卡</div>
                <div class="price"><span>188</span>滴币</div>
            </div>
            <div class="prod">
                <div class="thumbnail">
                    <img src="/images/integralMall/002.png" alt=""/>
                </div>
                <div class="name">滴滴快车周末卡</div>
                <div class="desc">8.5折快车周末卡</div>
                <div class="price"><span>188</span>滴币</div>
            </div>
        </div>
        <div class="row">
            <div class="prod">
                <div class="thumbnail">
                    <img src="/images/integralMall/gift_icon.png" alt=""/>
                </div>
                <div class="name">滴滴快车周末卡</div>
                <div class="desc">8.5折快车周末卡</div>
                <div class="price"><span>188</span>滴币</div>
            </div>
            <div class="prod">
                <div class="thumbnail">
                    <img src="/images/integralMall/002.png" alt=""/>
                </div>
                <div class="name">滴滴快车周末卡</div>
                <div class="desc">8.5折快车周末卡</div>
                <div class="price"><span>188</span>滴币</div>
            </div>
        </div>
        <div class="row">
            <div class="prod">
                <div class="thumbnail">
                    <img src="/images/integralMall/gift_icon.png" alt=""/>
                </div>
                <div class="name">滴滴快车周末卡</div>
                <div class="desc">8.5折快车周末卡</div>
                <div class="price"><span>188</span>滴币</div>
            </div>
            <div class="prod">
                <div class="thumbnail">
                    <img src="/images/integralMall/002.png" alt=""/>
                </div>
                <div class="name">滴滴快车周末卡</div>
                <div class="desc">8.5折快车周末卡</div>
                <div class="price"><span>188</span>滴币</div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        (function (doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    // 针对uc横竖屏rem html没有重绘的问题
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 320) + "px !important;}"));
                };
            recalc();
            document.body.style.visibility = 'visible';
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
            var a = document.getElementsByTagName('a');
            for (var i = 0; i < a.length; i++) {
                a[i].addEventListener('touchstart', function () {
                }, false);
            }
        })(document, window);
    </script>
    <script type="text/javascript" charset="utf-8" src="/common/js/zepto.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/common/js/zepto.base.js"></script>
    <script type="text/javascript" charset="utf-8" src="/common/js/plugins.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
//        var speed= 40; //调整滚动速度
//        var m2 = $('.m2')[0],m1 = $('.m1')[0],marquee=$('.marquee')[0];
//        m2.innerHTML = m1.innerHTML;
//        function Marquee(){
//            if(m2.offsetLeft-marquee.scrollLeft<=0)
//                marquee.scrollLeft-=m1.offsetWidth;
//            else{
//                marquee.scrollLeft++
//            }
//        }
//        var MyMarquee=setInterval(Marquee,speed);
//        marquee.onmouseover=function() {clearInterval(MyMarquee)}
//        marquee.onmouseout=function() {MyMarquee=setInterval(Marquee,speed)}

        var $index=$('#index'),$result=$('#result'),$cancel = $('.search em');;
        //banner轮播
        var mySwiper = new Swiper ('.swiper-container', {
            direction: 'horizontal',
            loop:true,
            autoplay: 5000,
            pagination: '.swiper-pagination',
        });
        $('.building').on('click',function(){
            $.alert({
                msg:'正在建设中......'
            });
        });
        //产品跳转
        $('section .prod').click(function(e){
            e.preventDefault();
            e.stopPropagation();
            if($(this).attr('href')){
                location.href = $(this).attr('href');
            }
        });
        //搜索
        $('header .search i').on('click',function(e){
            e.preventDefault();
            e.stopPropagation();
            $index.hide();
            $result.show();
//            $.ajax({
//                url: '/creditshop/goodsList?tenantid='+tenent,
//                type: 'get',
//                dataType: 'json',
//                async : false,
//                data: {page: 1, pageSize: 100,sign:1},
//                success: function(data){
//                    $(".goods-list ul").empty();
//                    var html = '';
//                    // data.data.list 为数据例表数组
//                    $.each(data.data.list,function(index,comment){
//                        console.log(index, comment);
//                        // index 为当前项的索引 comment为当前项
//                        html += '<li><div class="goodssize"><a href="/goodsDetail.html?goodsId='+comment.id+'&WeChatID='+weid+'"><img src="'+comment.thumbnail+'" alt="'+comment.title+'"></div><h4>'+comment.title+'</h4><div><i class="icon iconfont text-primary"></i><span class="text-primary">'+comment.redites+'</span><span class="goods-price">￥'+comment.price+'</span></div></a></li>';
//                    });
//
//                    $(".goods-list ul").html(html);
//
//                },
//                error:function(){
//                    $index.show();
//                    $result.hide();
//                }
//
//            });
        });
        //搜索框输入监听
        $('header .search input').on('keyup',function(e){
            if($(this).val()==''){
                $index.show();
                $result.hide();
                $cancel.removeClass('show');
            }else{
                $cancel.addClass('show');
            }
        });
        //搜索框获得失去焦点
        $('header .search input').on('blur',function(e){
            $cancel.removeClass('show');
        });
        $('header .search input').on('focus',function(e){
            if($(this).val()!=''){
                $cancel.addClass('show');
            }else{
                $cancel.removeClass('show');
            }
        });
        //搜索清除
        $cancel.on('click',function(e){
            if(!$(this).hasClass('show')){
                $('header .search input').val('');
                $cancel.removeClass('show');
                $index.show();
                $result.hide();
            }
        });
        //券横向滑动效果
        var myScroll = new IScroll('.recommend .wrapper.scroll',{
            scrollX: true,
            scrollY: false
        });
        //无缝滚动动画效果
        var $marquee = $('.marquee');
        var $first = $('.marquee li:first-child');
        var $second = $('.marquee li:nth-child(2)');
        $first.css({
            'margin-left': -$first.width()+'px',
        });
        var timer = setInterval(function(){
            $marquee.append($first);
            $first.css({
                'margin-left': '0',
            });
            $second.css({
                'marginLeft':-$second.width()+'px',
            });
            $first = $('.marquee li:first-child');
            $second = $('.marquee li:nth-child(2)');
        },4000);
        $('.upgradeTipSpec span.close').click(function(e){
            clearInterval(timer);
            $('.upgradeTipSpec').remove();
        });
//        var $first = $('.marquee span:first-child');
//        var $second = $first.clone(),temp;
//        var $content = $('.marquee').append($second);
//        $first.css('marginLeft',-$first.width());
//        var timer = setInterval(function(){
//            $content.append($first);
//            $first.css({
//                'margin-left': '0',
//                'transform':'translate3D(0,0,0)',
//                '-webkit-transform':'-webkit-translate3D(0,0,0)'
//            });
//            $second.css({
//                'marginLeft':-$first.width()+'px',
//                'transform':'translate3D(0,0,0)',
//                '-webkit-transform':'-webkit-translate3D(0,0,0)'
//            });
//            temp = $first;
//            $first = $second;
//            $second = temp;
//        },36000);
    });
</script>
</body>
</html>