@import "/css/SDbargain/common";

.content {
  margin-top: rem(-74px);
  .product{
    margin-bottom: rem(20px);
  }
  .input-group{
    padding-bottom: rem(16px);
  }
  .error-tips{
    font-size: rem(24px);
    color: #fff;
    padding: 0 rem(10px);
    text-align: center;
    margin-bottom: rem(16px);
    display: none;
    &:before{
      content: '—';
      display: inline-block;
      font-size: rem(12px);
      color: #fff;
      margin-right: rem(10px);
    }
    &:after{
      content: '—';
      display: inline-block;
      font-size: rem(12px);
      color: #fff;
      margin-left: rem(10px);
    }
  }
  .esoterica{
      margin-top: rem(20px);
  }
}