@import "/css/SDbargain/common";

.content{
  .info-message{
    img{
      display: block;
      width: rem(108px);
      height: rem(108px);
      margin: 0 auto rem(20px);
    }
    .message{
      width: rem(380px);
      line-height: rem(44px);
      margin: 0 auto rem(32px);
      background-color: #c12f30;
      font-size: rem(28px);
      color: #fff;
      text-align: center;
      padding: rem(8px);
      @include border-radius(8px);
    }
  }
  .buttons {
    margin-bottom: rem(32px);
  }
}
