@import "/css/SDbargain/common";

.content{
  .product{
    margin-bottom: rem(24px);
  }
  .notify{
    text-align: center;
    font-size: rem(24px);
    color: #fff;
    line-height: rem(37px);
    margin-bottom: rem(24px);
  }
  .rank-list{
    margin-bottom: rem(30px);
  }
  table{
    tr td:nth-child(1),tr th:nth-child(1){
      width: 25%;
    }
    tr td:nth-child(2),tr th:nth-child(2){
      width: 50%;
    }
    tr td:nth-child(3),tr th:nth-child(3){
      width: 25%;
    }
  }
}