@import "/css/SDbargain/common";

.content{
  .info-message{
    img{
      display: block;
      width: rem(254px);
      height: rem(52.2px);
      margin: rem(38px) auto 0;
    }
    .message{
      line-height: rem(37px);
      font-size: rem(24px);
      color: #fff;
      text-align: center;
      padding: 0 rem(26px);
      margin-top: rem(16px);
      margin-bottom: rem(18px);
    }
  }
  a.btn{
    margin-bottom: rem(28px);
  }
}