<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简途旅行</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/beauty/detail.scss?__inline">
</head>
<body>
<div class="page-group" style="visibility: hidden">
    <div class="page page-current">
        <div class="page-content">
            <div class="head-img">
                <img src="/images/beauty/detail-head-img.png" alt="">
            </div>
            <div class="list">
                <div class="list-item">
                    <div class="player-avatar">
                        <img src="http://images.simpletour.com/simpletour/images/wechat_home/de290568caba4eb385465b9e828ee7d1.png!middle320" alt="">
                    </div>
                    <p>昵称: 还都是大四</p>
                    <p>宣言: 李老师说最多100100100100100100100100100100100100100字李老师说最多100字李老师说最多100字李老师说最多100字李老师说最多100字李老师说最多100字李老师说最多100字李老师说最多100字李老师说最多100字</p>
                    <div class="star-count">
                        点赞数: 1234
                        <div class="player-rank">
                            <img src="/images/beauty/price-icon.png" alt="">
                            第123名
                        </div>
                    </div>
                    <div class="star-btn">赞一个</div>
                    <div class="content">
                        <h5>给他加油吧:</h5>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class="submit">提  交</div>

                    <div class="comment-box">
                        <div class="comment-item">
                            <h5>李老师</h5>
                            <p>这个女娃多漂亮的</p>
                        </div>
                        <div class="comment-item">
                            <h5>何老师</h5>
                            <p>有学生妹没有?我的电话是1231823754618392746891237648917236481726348176238476123</p>
                        </div>
                    </div>

                    <div class="border-bottom">
                        <img src="/images/beauty/border-bottom.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/common/js/zepto.min.js"></script>
<script>
    (function (doc, win) {

        var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    var style;
                    if (style = document.getElementById("forhtml")) {
                        style.parentNode.removeChild(style);
                    }
                    style = document.createElement("style");
                    style.id = "forhtml";
                    document.head.appendChild(style);
                    style.appendChild(document.createTextNode("html{font-size:" + 20 * (clientWidth / 375) + "px !important;}"));
                };
        recalc();
        doc.getElementsByClassName('page-group')[0].style.visibility = 'visible';
        if (!doc.addEventListener) return;
        win.addEventListener(resizeEvt, recalc, false);
        doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
    $(document).ready(function() {
        // 点击赞一个
        $('.star-btn').tap(function(e) {
            var $this = $(this);
            $this.addClass('disabled');
        })
        // 点击提交
        $('.submit').tap(function() {
            var $this = $(this);
            $this.addClass('disabled');
        })
    });
</script>
</body>
</html>
